.display {
    display: none;
}

.thumbnail {
    border: none;
}

.thumbnail>img,
.thumbnail a>img {
    width: 300px;
    height: 200px;
}

.dish-name {
    display: block;
    text-align: center;
    min-height: 40px;
    color: #aea512;
    font-size: 18px;
}

.dish-img {
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.dish {
    position: relative;
    margin-bottom: 40px;
    .khuyenmai {
        position: absolute;
        top: 10px;
        right: 10px;
        background: #e4d6d6;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 50%;
        overflow: hidden;
        span {
            color: red;
            font-size: 12px
        }
    }
    transition: 0.4s all;
}

.dish:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.caption-bottom {
    padding: 15px 5px;
    text-align: center;
    span.price,
    .old-price {
        display: block;
        text-align: center;
        font-size: 20px;
        color: black;
        padding: 5px 0 20px;
    }
}