<div class="animated slideInRight" *ngIf="dish">
  <div class="col-xs-12 col-md-3 dish">
    <div class="thumbnail">
      <h3 class="dish-name">{{dish.ten}}</h3>
        <div  (click)="denTrangChiTiet(dish._id)" class="dish-img">
            <img style="cursor: pointer;" src="http://localhost:3000/{{dish.hinhanh}}"
            alt="..." class="image-responsive">
        </div>
      <div class="caption-bottom">
        <span class="price" *ngIf="!dish.giacu">$ {{dish.gia}}</span>
        <span class="old-price" *ngIf="dish.giacu">{{dish.giacu}} -> {{dish.gia}}</span>
          <a (click)="addToCart(dish)" class="btn-adtocart" role="button">
              Thêm vào giỏ hàng <i class="fa fa-cart-plus" aria-hidden="true"></i>
          </a>
      </div>
    </div>
    <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)"
      [ngClass]="{'display':dish.khuyenmai===0||!dish.khuyenmai}" class="khuyenmai text-center btn-info">
      <span>
        {{dish.khuyenmai}}%
      </span>
    </div>
  </div>
</div>