<div class="animated slideInRight" *ngIf="dish">
    <div class="col-xs-12 col-md-3 dish">
        <div class="thumbnail">
            <h3 class="dish-name">{{dish.ten}}</h3>
            <div (click)="denTrangChiTiet(dish._id)" class="dish-img">
                <img style="cursor: pointer;" src="{{base_url}}/{{dish.hinhanh}}" alt="..." class="image-responsive">
            </div>
            <div class="caption-bottom">
                <span class="price" *ngIf="dish.khuyenmai===0||dish.khuyenmai==null"> {{dish.gia  |number}} VNĐ</span>
                <span class="old-price" *ngIf="dish.khuyenmai!==0"> <span style="text-decoration: line-through"> {{dish.gia| number}} VNĐ</span> -> {{dish.gia-(dish.gia*dish.khuyenmai/100)| number}} VNĐ</span>
                <a (click)="addToCart(dish)" class="btn-adtocart" role="button">
              Thêm vào giỏ hàng <i class="fa fa-cart-plus" aria-hidden="true"></i>
          </a>
            </div>
        </div>
        <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)" [ngClass]="{'display':dish.khuyenmai===0||!dish.khuyenmai}" class="khuyenmai text-center btn-info">
            <span>
        {{dish.khuyenmai}}%
      </span>
        </div>
    </div>
</div>