<div class="container-fluid">
    <div class="head-cus">
        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addstaff"><i
                class="fa fa-user-plus" aria-hidden="true"></i> Thêm nhân viên mới</button>
    </div>
    <div class="content">
        <div class="list-customer">
            <table class="table table-hover list-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Email</th>
                        <th scope="col">Chức vụ</th>
                        <th scope="col">Lương theo ngày</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="tbody-list">
                    <tr *ngFor="let item of listData; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.ten}}</td>
                        <td>{{item.email}}</td>
                        <td>Nhân viên cấp {{item._idcapnhanvien.cap}}</td>
                        <td>{{item._idcapnhanvien.luongtheongay}} VND</td>
                        <td>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#detailstaff" (click)="showdetail(item)">Chi tiết</button>
                            <button class="btn " (click)="delete(item._id)">Xóa</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- ket thuc form xem list -->
        <!-- form add new begin -->
        <div class="modal fade" id="addstaff" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="create-customer">
                            <form id="formThemCustomer" (ngSubmit)="addNew()" [formGroup]="formAddNew">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Tên</label>
                                        <input type="text" class="form-control" formControlName="ten" placeholder="Nhập tên">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Email</label>
                                        <input type="email" class="form-control" formControlName="email" placeholder="Nhập email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Số điện thoại</label>
                                        <input type="text" class="form-control" formControlName="sdt" placeholder="Nhập số điện thoại">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Cấp nhân viên</label>
                                        <select class="form-control" formControlName="_idcapnhanvien">
                                            <option *ngFor="let item of allrank" value="{{item._id}}">{{item.cap}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Mật Khẩu</label>
                                        <input type="password" class="form-control" formControlName="matkhau" placeholder="Password">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Avatar</label>
                                        <div class="custom-file">
                                            <input type="file" (change)="onFileChange($event)" class="custom-file-input" id="inputGroupFile01">
                                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button [disabled]="formAddNew.invalid&&!selectedFile" type="submit" class="btn btn-primary">Đăng ký</button>
                                    <div class="btn btn-warning" onclick="formReser()">Làm mới</div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ket thuc form add new -->
        <!-- bat dau form detail -->
        <div class="modal fade" id="detailstaff" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="view-detail">
                            <div class="row row-back">
                                <div class="col-md-12 xoac">
                                    <div class="edit-profile">
                                        <form (ngSubmit)="edit()" [formGroup]="frmSua">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Tên</label>
                                                    <input type="text" class="form-control" formControlName="ten" value="{{eData.ten}}">

                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Email</label>
                                                    <input type="email" class="form-control" formControlName="email" value="{{eData.email}}">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Số điện thoại</label>
                                                    <input type="text" value="{{eData.sdt}}" formControlName="sdt" class="form-control">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Cấp nhân viên</label>
                                                    <select class="form-control" formControlName="_idcapnhanvien">
                                                        <option *ngFor="let item of allrank" value="{{item._id}}">
                                                            {{item.cap}}</option>
                                                    </select>
                                                </div>
                                                <p>
                                                    <a class="text-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                      Thay đổi mật khẩu
                                                    </a>
                                                </p>
                                                <div class="collapse" id="collapseExample" style="margin-bottom: 15px;">
                                                    <div class="col-md-6">
                                                        <label>Nhập mật khẩu mới</label>
                                                        <input type="password" value="{{eData.matkhau}}" formControlName="matkhau" class="form-control">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label>Xác nhận mật khẩu</label>
                                                        <input type="password" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <button type="submit" class="btn btn-default">Sửa</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ket thuc form detail -->
    </div>
</div>