<body>
  <div id="contact">
    <app-header></app-header>
  </div>
  <div style="margin-top: 90px; min-height:400px;">
    <router-outlet></router-outlet>
  </div>
  <div routerLink="/home/listcart" id="cart" (click)="nhay()" [ngClass]="{'animated jello': muaNhay}" class="cart" style="position: fixed; z-index: 1000; right: 15px;bottom: 50px">
    <a>
      <i style="font-size: 40px ;cursor: pointer;" class="fa fa-cart-arrow-down text-primary" aria-hidden="true">
        <span class="badge pull-right note">{{count}}</span>
      </i>
    </a>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</body>