/* You can add global styles to this file, and also import other style files */

@media (max-width: 767px) {
    body {
        font-size: 12px;
    }
    .btn {
        font-size: 14px
    }
}

@font-face {
    font-family: dark-b;
    src: url(../src/assets/font-web/DarkerGrotesque-Bold.ttf);
}

button.close {
    position: absolute;
    top: 15px;
    right: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: rgb(209, 191, 191);
}

::-webkit-scrollbar-thumb {
    background-color: gray;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(146, 143, 143);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgb(160, 153, 153);
}

.glyphicon {
    font-family: unset !important;
}

.glyphicon-phone-alt:before,
.glyphicon-calendar:before {
    font-family: 'Glyphicons Halflings';
}

li {
    cursor: pointer;
}

.bill-temp input {
    background: none !important;
    height: 20px;
    border: none;
    box-shadow: unset;
    font-style: italic;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
}

.excel-export {
    background: white;
    padding: 5px 15px;
    line-height: 30px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    i {
        font-size: 18px;
        color: green;
    }
}

.modal-open {
    overflow: hidden;
    overflow-y: auto;
    padding-right: 0 !important;
}

.btn-adtocart {
    height: 30px;
    display: inline-block;
    line-height: 26px;
    padding: 0 10px;
    border: 1px solid rgba(51, 51, 51, 0.46);
    color: #333;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}

.t-center {
    text-align: center;
}

.pdt-100 {
    padding-top: 100px;
}

.pdt-50 {
    padding-top: 50px;
}

.content-head {
    position: fixed;
    z-index: 9;
}

.content-main {
    height: auto;
    overflow-x: hidden;
}

.content-part {
    .content-main {
        padding-top: 100px;
    }
}

div#tester_length,
div#tester_filter,
div#tester_paginate,
div#tester_info {
    padding: 10px 0;
}

div#tester_wrapper,
div.dataTables_wrapper {
    padding: 15px;
    margin-bottom: 20px;
}

div#tester_length select,
.dataTables_length select {
    width: 58px;
    border-radius: 5px;
    margin: 0 5px;
}

div#tester_filter input,
.dataTables_wrapper .dataTables_filter input {
    border: none;
    border-bottom: 1px solid brown;
    text-align: center;
    &:focus {
        outline: none;
    }
}

a.paginate_button.current {
    padding: 5px !important;
    background: white !important;
}

.head-cus {
    width: 90%;
    margin: 0 auto 20px;
}