<div class="container-fluid">
    <div class="customer-head">
        <div class="btn-group group-them" data-toggle="buttons">
            <label class="btn btn-default btn-sm bnt-them" (click)="formShow('view')">
                    Danh sách Thực Đơn
                </label>
            <label class="btn btn-primary btn-sm bnt-them " (click)="formShow('create')">
                    Thêm Thực Đơn Mới
                </label>
        </div>
    </div>
    <div class="content">
        <div class="list-customer" *ngIf="formStatus==='view'">
            <table class="table table-hover list-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên Thực đơn</th>
                        <th scope="col">Khuyến Mãi</th>
                        <th scope="col">Giá</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="tbody-list">
                    <tr *ngFor="let item of listThucdon; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.ten}}</td>
                        <td>{{item.khuyenmai}}%</td>
                        <td>{{item.gia|number}} VNĐ</td>
                        <td>
                            <button class="btn btn-primary" (click)="formShow('detail',item._id)">Chi tiết</button>
                            <button class="btn" (click)="xoatd(item._id)">Xóa</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- ket thuc form xem list -->
        <!-- form add new begin -->
        <div class="create-menu" *ngIf="formStatus==='create'">
            <form (ngSubmit)="addNew()" [formGroup]="formAddNewMenu">
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label>Tên Menu</label>
                        <input type="text" class="form-control" formControlName="ten" placeholder="Tên">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Khuyến mãi</label>
                        <input type="number" class="form-control" formControlName="khuyenmai" value="0">
                    </div>
                    <div class="form-group col-md-10">
                        <button [disabled]="formAddNewMenu.invalid" class="form-control" type="submit" class="btn btn-secondary">Thêm</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="create-menu" *ngIf="formStatus==='addmon'&&currenttd">
            <div class="menu-title">
                <div class="row">
                    <div class="col-xs-4 col-sm-6 col-md-6 col-lg-6">
                        Tên thực đơn: <span>{{currenttd.values.ten}}</span>
                    </div>
                    <div class="col-xs-4 col-sm-6 col-md-3 col-lg-3">
                        Khuyến Mãi: <span>{{currenttd.values.khuyenmai}}</span>
                    </div>
                    <div class="col-xs-4 col-sm-6 col-md-3 col-lg-3">
                        Giá: <span>{{tdtotal}}</span>
                    </div>
                </div>
            </div>
            <div class="dish-choice">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover list-table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col" style="width:50%;">Tên món ăn</th>
                                    <th scope="col" style="width:10%;">Số lượng</th>
                                    <th scope="col" style="width:20%;">Giá</th>
                                    <th scope="col" style="width:20%;">Option</th>
                                </tr>
                            </thead>
                            <tbody class="tbody-list">
                                <tr *ngFor="let item of listmon; let i = index">
                                    <th scope="row">{{i+1}}</th>
                                    <td class="ten-mon">
                                        <div class="form-group">
                                            <input type="text" disabled value="{{item.ten}}" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="number" class="form-control" value="{{item.slma}}" (change)="laysl($event,item)">
                                        </div>
                                    </td>
                                    <td class="ten-mon">
                                        <div class="form-group">
                                            <input type="text" disabled value="{{item.gia-(item.gia*item.khuyenmai/100)|number}} VNĐ" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <button class="btn btn-info" *ngIf="kiemtramondachonchotd(item)===false" (click)="themmonanhd(item)">Thêm</button>
                                            <button class="btn btn-danger" *ngIf="kiemtramondachonchotd(item)===true" (click)="huymonantrongthucdon(item)">Hủy</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <button class="btn btn-success" (click)="themtdvaocsdl()">Hoàn Thành</button>
                            <img style="display: none;" id="load" src="../../../assets/images/load.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ket thuc form add new -->
        <!-- bat dau form detail -->
        <div class="detail-menu" *ngIf="formStatus==='detail'">
            <form action="">
                <div class="col-xs-12 col-sm-6 col-md-1 col-lg-2">
                    <div class="form-group">
                        <button class="btn btn-secondary" type="submit" (click)="themmonanhd(item._id)">Chỉnh
                                sửa</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-1 col-lg-2">
                    <div class="form-group">
                        <button class="btn btn-danger" (click)="back()">Quay lại</button>
                    </div>
                </div>
                <table class="table table-hover list-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tên Món Ăn</th>
                            <th scope="col">Số Lượng </th>
                            <th scope="col">Giá</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="tbody-list">
                        <tr *ngFor="let item of lstmontheothucdon; let i = index" (click)="formShow('detail',item._id)">
                            <th scope="row">{{i+1}}</th>
                            <td>{{item.tenmonan}}</td>
                            <td><input class="sl-ma" type="text" value="{{item.soluong}}"></td>
                            <td>{{item.gia*item.soluong}}</td>
                            <td class="optiond"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>