<div class="content-box">
    <div class="row pdt-100"></div>
    <div class="container">
        <div class="content-page col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
            <h1 class="title-content">Ưu đãi cho khách hàng thân thiết</h1>
            <div class="detail-page">
                <div style="line-height: 30px">
                    <p>Nhằm tri ân quý khách hàng đã luôn tin tưởng và đồng hành cùng ADTDECOR, chúng tôi xin gửi đến quý khách những ưu đãi hấp dẫn chỉ dành riêng cho khách hàng thân thiết của ADTDECOR.</p>

                    <p>&nbsp;</p>

                    <h3><strong>1. LÀM THẾ NÀO ĐỂ TRỞ THÀNH KHÁCH HÀNG THÂN THIẾT CỦA ADTDECOR?</strong></h3>

                    <ul>
                        <li>• <strong>Đối với khách hàng sử dụng dịch vụ tại nhà hàng:</strong> Nếu quý khách chưa từng đăng ký thông tin tại ADTDECOR, sau khi mua hàng quý khách vui lòng liên hệ nhân viên nhà hàng để được hỗ trợ đăng ký thông tin khách hàng
                            thành viên.
                        </li>
                        <li>• <strong>Đối với khách hàng đặt hàng online: </strong>Khi quý khách đặt hàng lần đầu tiên tại Online Store của ADTDECOR hệ thống sẽ tự động tạo tài khoản khách hàng thành viên cho quý khách dựa trên số điện thoại đặt hàng.</li>
                    </ul>

                    <p>&nbsp;</p>

                    <h3><strong>2. LÀM THẾ NÀO ĐỂ TRỞ THÀNH VIP SILVER &amp; VIP GOLD CỦA ADTDECOR?</strong></h3>

                    <p>Khách hàng thành viên khi sử dụng dịch vụ tại hệ thống nhà hàng ADTDECOR trên toàn quốc hoặc Online Store được tham gia chương trình “Tích lũy điểm” với số điểm tích lũy được quy đổi trong mỗi lần sử dụng dịch vụ:</p>

                    <ul>
                        <li>• Khách hàng thành viên sau khi tích lũy được 30 điểm (tương đương doanh số mua hàng là 3.000.000đ) sẽ trở thành <strong>VIP Silver</strong>.</li>
                        <li>• Khách hàng VIP bạc sau khi tích lũy được 100 điểm (tương đương doanh số mua hàng 10.000.000Đ) sẽ trở thành&nbsp;<strong>VIP Gold</strong>.</li>
                    </ul>

                    <p>&nbsp;</p>

                    <h3><strong>3. ƯU ĐÃI DÀNH CHO KHÁCH HÀNG THÂN THIẾT</strong></h3>

                    <p>Với khách hàng thân thiết / VIP, Quý khách sẽ&nbsp;nhận được ưu đãi đặc biệt khi mua hàng&nbsp;tại website&nbsp;<strong>ADTDECOR.com</strong>&nbsp;và hệ thống&nbsp;nhà hàng ADTDECOR trên toàn quốc như sau:</p>

                    <ul>
                        <li>• Được giảm giá khi mua hàng tại ADTDECOR (<strong>10% đối với hạng VIP Silver hoặc 15% đối với hạng VIP Gold</strong>) khi mua sản phẩm nguyên giá.</li>
                        <li>• Được tặng&nbsp;<strong>Mã quà tặng</strong>&nbsp;nhân dịp sinh nhật khách hàng qua tin nhắn SMS.</li>
                        <li>• Được ưu tiên nhận&nbsp;tin về chương trình khuyến mãi hoặc sản phẩm mới của ADTDECOR.</li>
                        <li>• Được tham gia các chương trình khuyến mãi dành riêng cho khách hàng VIP.</li>
                    </ul>

                    <p><strong><em><u>Lưu ý:</u></em></strong></p>

                    <ul>
                        <li><em>&nbsp;- Chương trình giảm giá cho khách hàng thành viên, khách hàng VIP được áp dụng cho tất cả hình thức mua hàng tại nhà hàng và mua hàng qua website ADTDECOR.com.</em></li>
                        <li><em>&nbsp;- ADTDECOR có thể thay đổi các điều khoản vào bất kỳ thời điểm nào.</em></li>
                    </ul>

                    <p><strong>Mọi ý kiến đóng góp và thắc mắc xin liên hệ ADTDECOR qua Hotline miễn phí&nbsp;<a href="tel:18006909">1800 6909</a>&nbsp;hoặc gửi email về địa chỉ:&nbsp;<a href="mailto:cskh@ADTDECOR.com">cskh@ADTDECOR.com</a>.</strong></p>
                </div>

            </div>
        </div>
    </div>
</div>