<section id="salary">
    <div class="container">
        <form (ngSubmit)="search()" [formGroup]="serchform">
            <div class="row" style="display: flex;width: 100%; align-items: center;padding-top: 10px;padding-bottom: 10px">
                <div class="col-md-6">
                    <div class="form-group" style="display: flex;margin-bottom: 0">
                        <label style="width: 30%">Chọn tháng: </label>
                        <select class="form-control" formControlName="thang">
              <option selected value="1">Tháng 1</option>
              <option value="2">Tháng 2</option>
              <option value="3">Tháng 3</option>
              <option value="4">Tháng 4</option>
              <option value="5">Tháng 5</option>
              <option value="6">Tháng 6</option>
              <option value="7">Tháng 7</option>
              <option value="8">Tháng 8</option>
              <option value="9">Tháng 9</option>
              <option value="10">Tháng 10</option>
              <option value="11">Tháng 11</option>
              <option value="12">Tháng 12</option>
            </select>
                    </div>
                </div>
                <div class="col-md-3" style="display: flex; align-items: center">
                    <button type="submit" class="btn btn-primary">Chọn</button>
                </div>
                <div class="col-md-3" style="display: flex; align-items: center">
                    <h3>lương tháng: {{currentmonth}}, </h3>
                    <h3>Năm: {{currentyear}}</h3>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success" data-target="#all-salary" data-toggle="modal">Tính lương cho tất</button>
            </div>
        </div>
        <table class="table table-hover list-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Email</th>
                    <th scope="col">Chức vụ</th>
                    <th scope="col">Lương theo ngày</th>
                    <th scope="col">Lương</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="tbody-list">
                <tr *ngFor="let item of listData; let i = index">
                    <th scope="row">{{i+1}}
                        <br>
                        <input *ngIf="item.luong != 'datinh'" type="checkbox" [checked]="item.check == true" (change)="item.check = !item.check">
                    </th>
                    <td>{{item.ten}}</td>
                    <td>{{item.email}}</td>
                    <td>Nhân viên cấp {{item._idcapnhanvien.cap}}</td>
                    <td>{{item._idcapnhanvien.luongtheongay}} VND</td>
                    <td>
                        <span *ngIf="item.luong==='datinh'">
                Đã tính
            </span>
                        <span *ngIf="item.luong==='chuatinh'">
                Chưa tính
            </span>
                    </td>
                    <td>
                        <button *ngIf="item.luong==='chuatinh'" class="btn btn-primary" (click)="calc(item)" data-toggle="modal" data-target="#myModal">
              Tính lương
            </button>
                        <button *ngIf="item.luong==='datinh'" class="btn btn-danger" (click)="detail(item)">
              Xem chi tiết
            </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<div class="modal" id="myModal" *ngIf="data">
    <div class="modal-dialog">
        <div class="modal-content" style="padding:15px">
            <h3 class="text-center salary-tit">
                Tính lương cho nhân viên {{data.ten}}
            </h3>
            <table class="salary">
                <tr>
                    <td class="tit">Email</td>
                    <td>{{data.email}}</td>
                </tr>
                <tr>
                    <td class="tit">Lương theo ngày:</td>
                    <td>{{data._idcapnhanvien.luongtheongay}} VND</td>
                </tr>
                <tr>
                    <td class="tit">Tổng số ngày làm:</td>
                    <td> <input type="number" class="form-control" [(ngModel)]='ngay' [ngModelOptions]="{standalone: true}" placeholder="Nhập ngày đã làm trong tháng"></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <button class="btn-adtocart" (click)="calc2(data._idcapnhanvien.luongtheongay,ngay)">
            Tính
          </button>
                    </td>
                </tr>
            </table>
            <div class="total-salary" *ngIf="tongluong">
                <span>
            Tổng lương: <small>{{tongluong}}VNĐ</small>
          </span>
                <button class="btn-adtocart" (click)="calc3(data,ngay,tongluong)">
            Xác nhận
          </button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myModal2">
    <div class="modal-dialog">
        <div class="modal-content" style="padding:15px">
            <div class="content" *ngIf="bangluong">
                <h3 class="text-center salary-tit">
                    Bảng lương tháng {{bangluong.thangtra}}
                </h3>
                <table class="salary">
                    <tr>
                        <td class="tit">Tên nhân viên:</td>
                        <td>{{bangluong._idnhanvien.ten}}</td>
                    </tr>
                    <tr>
                        <td class="tit">Email:</td>
                        <td>{{bangluong._idnhanvien.email}}</td>
                    </tr>
                    <tr>
                        <td class="tit">Số ngày làm:</td>
                        <td>{{bangluong.songaylam}}</td>
                    </tr>
                    <tr>
                        <td class="tit">Tổng lương:</td>
                        <td class="total">{{bangluong.luongtheongay * bangluong.songaylam | number}} đ</td>
                    </tr>
                </table>
                <div class="excel-export" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o"></i> Xuất Excel bảng lương
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="all-salary" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Tính lương cho tất cả</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <label for="" style="display: block;">nhập số ngày</label>
                <input type="text" [(ngModel)]="all_working_day" class="form-control">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="calc_all_salary(all_working_day)">Tính</button>
            </div>
        </div>
    </div>
</div>