<div class="pd-15">
    <div class="btn btn-success btn-sm" data-toggle="modal" data-target="#addModal">Thêm bài viết mới</div>
    <table class="table">
        <thead>
            <tr>
                <th>Tiêu đề</th>
                <th>TG tạo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of post_list" data-toggle="modal" data-target="#detailModal" (click)="openDetail(item._id)">
                <td>{{item.title}}</td>
                <td>{{item.created}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    <input type="text" class="form-control" [(ngModel)]="post_detail.title">
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <ckeditor [(ngModel)]="post_detail.content" [config]="{uiColor: '#5bc0de', entities_latin: false}" [readonly]="false" debounce="500">
                </ckeditor>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="updateDetail()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">
                    Thêm bài viết mới
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control" [(ngModel)]="newPost.title" name="title" placeholder="Tiêu đề">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="text" class="form-control" [(ngModel)]="newPost.thumbnail_url" name="thumbnail_url" placeholder="Url Thumbnail">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <ckeditor [(ngModel)]="newPost.content" [config]="{uiColor: '#5bc0de', entities_latin: false}" name="content" [readonly]="false" debounce="500">
                            </ckeditor>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="create()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>