#gt-phong{
    padding: 150px 0;
    text-align: center;
    .title{
        font-size: 25px;
        font-weight: bold;
        color: #F86923;
        padding: 0 0 50px 0;
    }
}
.loai-phong img {
    width: 50%;
}
.loai-phong{
    border-bottom:  1px solid  #ddecf3;
    padding-bottom: 20px;
    text-align: center;
    .tenloaiphong{
        width: 100%;
        text-align: left;
        color: #428bca;
        font-size: 18px;
        font-weight: bold;
    }
    .mota{
        width: 70%;
        margin: auto;
        padding-top: 10px;
        color: #428bca;
        font-style: italic;
    }
}
.selected{
    background: red;
    cursor: not-allowed;
}
.chuse{
    background: green
}
button{
    border: none;
}
.circle{
    width: 24px;
    height: 24px;
    background: greenyellow;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
.registed{
    background: #bf0000;
}
.on-box{
    display:flex;
    align-items: center;
    min-width: 200px;
    justify-content: space-between;
    .not-available {
        color: red;
        width: 60%;
    }
}
.btn-adtocart.in-gt{
    height: 25px;
    width: 60%;
    line-height: 20px;
}
.room-line{
    display: flex; justify-content: space-between;
    padding: 15px 0;
}
.outline-rl{
    border-bottom: 1px solid rgba(192, 192, 192, 0.42);
    &:last-child{
        border: none;
    }
}
.room-name{
    color: #aea512;
    font-size: 20px;
}