<section id="order-detail">
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Tên</th>
          <th>Ngày Đặt</th>
          <th>Tình trạng</th>
          <th>Tiền</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of hoadonkh;index as i">
          <td>
            {{i}}
          </td>
          <td>
            {{item.ten}}
          </td>
          <td>
            {{item.thoidiemtao}}
          </td>
          <td>
            {{item.tinhtrang}}
          </td>
          <td>
            {{item.tongtien}}
          </td>
          <td style="width:200px">
            <div class="btn btn-danger">
              Hủy
            </div>
            <div class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="toDetail(item._id)">
              Xem chi tiết
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <p class="text-center" *ngFor="let item of chitiet;index as i" style="margin-top:20px">
         Hóa đơn {{item._id}} tạo ngày {{item.thoidiemtao}}, ngày đến {{item.thoidiemden}}
      </p>
      <div *ngIf="doi===true" class="img text-center" style="margin-bottom: 20px;width: 100%;">
          <img src="../../../assets/images/load.svg" alt="">
      </div>
      <table *ngIf="fade===false" class="table table-bordered">
        <thead>
          <tr>
            <th>Món ăn</th>
            <th>Tổng tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of chitietma;index as i">
            <td>{{item._idmonan.ten}} X {{item.soluongmonan}} <span *ngIf="item._idmonan.giacu"> giảm {{item._idmonan.khuyenmai}} %</span></td>
            <td>{{item._idmonan.gia}}</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th>Phong</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of phong;index as i">
              <td>{{item.ten}} - {{item.loai}}</td>
              <td>{{item.gia}}</td>
            </tr>
        </tbody>
        <thead *ngIf="dichvu">
            <tr>
              <th>Dịch vụ</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="dichvu">
              <tr *ngFor="let item of dichvu;index as i">
                <td>{{item._iddichvu.ten}}</td>
                <td>{{item._iddichvu.gia}}</td>
              </tr>
          </tbody>
        <tfoot >
          <tr *ngFor="let item of chitiet;index as i">
            <th>Tổng tiền</th>
            <th>
                  {{item.tongtien}}
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>