.report-modal-btn {
    position: fixed;
    z-index: 1000;
    right: 15px;
    bottom: 120px;
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 17px;
    box-shadow: 0 0 10px 4px rgba(175, 166, 166, 0.309804);
    background: rgba(123, 30, 3, 0.6);
    outline: none;
    padding: 0;
}