<!-- Footer -->
<footer style="background: #f8f8f8" class="page-footer font-small mdb-color lighten-3 pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Content -->
                <img class="" style="width: 200px; height: 100px;" src="./assets/images/logo/logo1.png" alt="">

                <!-- <p>Here you can use rows and columns here to organize your footer content.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate esse
          quasi, veritatis totam voluptas nostrum.</p> -->

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mb-4">Nhà hàng ADTDECORE</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <!-- <a href="#!">PROJECTS</a> -->
                        </p>
                    </li>
                    <li>
                        <p>
                            <!-- <a href="#!">ABOUT US</a> -->
                        </p>
                    </li>
                    <li>
                        <p>
                            <!-- <a href="#!">BLOG</a> -->
                        </p>
                    </li>
                    <li>
                        <p>
                            <!-- <a href="#!">AWARDS</a> -->
                        </p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

                <ul class="list-unstyled ">
                    <li>
                        <p>
                            <i class="glyphicon glyphicon-user"></i> 56/12 Linh Đông - P. Linh Đông - Q. Thủ Đức</p>
                    </li>
                    <li>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> info@example.com</p>
                    </li>
                    <li>
                        <p>
                            <i class="glyphicon glyphicon-phone-alt"></i> + 01 234 567 88</p>
                    </li>
                    <li>
                        <p>
                            <i class="glyphicon glyphicon-phone-alt"></i> + 01 234 567 89</p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

                <!-- Social buttons -->
                <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

                <!-- Facebook -->
                <a type="button" class="btn-floating btn-fb">
                    <i class="fa fa-facebook"></i>
                </a>
                <!-- Twitter -->
                <a type="button" class="btn-floating btn-tw">
                    <i class="fa fa-twitter"></i>
                </a>
                <!-- Google +-->
                <a type="button" class="btn-floating btn-gplus">
                    <i class="fa fa-google-plus"></i>
                </a>
                <!-- Dribbble -->
                <a type="button" class="btn-floating btn-dribbble">
                    <i class="fa fa-dribbble"></i>
                </a>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018

    </div>
    <!-- Copyright -->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary report-modal-btn" data-toggle="modal" data-target="#report-modal">
        <i class="fa fa-envelope" aria-hidden="true"></i>
  </button>

    <!-- Modal -->
    <div class="modal fade" id="report-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Góp ý cho chúng tôi!!</h4>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="sendReport()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên của bạn</label>
                            <input [required]="true" type="text" [(ngModel)]="report.name" class="form-control" name="name" aria-describedby="emailHelp" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Số điện thoại</label>
                            <input [required]="true" type="text" [(ngModel)]="report.phone" class="form-control" name="phone" placeholder="">
                        </div>
                        <div class="form-check">
                            <textarea [required]="true" name="" [(ngModel)]="report.content" class="form-control" name="note" id="" cols="30" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary" style="    margin-top: 15px;">Gửi ngay</button>
                    </form>
                    <div *ngIf="err_noti == true" class="err-noti">
                        Vui lòng nhập đầy đủ các thông tin.
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- Footer -->