<div class="container" style="margin-top: 100px">
    <div class="row" style="padding-top: 40px;padding-bottom: 40px">
        <div class="col-md-7 item-photo">
            <div class="thumbnail">
                <img src="{{base_url}}/{{dish.hinhanh}}" alt="..." class="image-responsive">
            </div>
        </div>
        <div class="col-md-5" style="border:0px solid gray;">
            <div style="background: #f8f9f9;padding: 15px">
                <h6 class="title-price">
                    <small>TÊN MÓN</small>
                </h6>
                <!-- Datos del vendedor y titulo del producto -->
                <h3 style="padding: 0 0 0 30px;">{{dish.ten|uppercase}}</h3>
                <!-- <h5 style="color:#337ab7">vendido por <a href="#">Samsung</a> · <small style="color:#337ab7">(5054 ventas)</small></h5>
   -->
                <!-- Precios -->
                <h6 class="title-price">
                    <small>GIÁ TIỀN</small>
                </h6>
                <h3 *ngIf="!dish.khuyenmai" style="margin-top:0px;padding: 0 0 0 30px ">{{dish.gia| currency:'VNĐ':true:'1.0-2'}}</h3>
                <h3 *ngIf="dish.khuyenmai" style="margin-top:0px;padding: 0 0 0 30px "><span style="text-decoration: line-through"> {{dish.gia| currency:'VNĐ':true:'1.0-2'}}</span> -> {{dish.gia-(dish.gia*dish.khuyenmai/100)| currency:'VNĐ':true:'1.0-2'}}</h3>
                <div>
                    <!-- Detalles especificos del producto -->
                    <div class="section">
                        <h6 class="title-price">
                            <small>LOẠI</small>
                        </h6>
                        <h3 style="margin-top:0px;padding: 0 0 0 30px ">{{dish.loai}}</h3>
                    </div>
                    <div class="section">
                        <h6 class="title-price">
                            <small>Mô tả</small>
                        </h6>
                        <h3 style="margin-top:0px;padding: 0 0 0 30px ">{{dish.mota}}</h3>
                    </div>
                </div>
            </div>
            <div class="section" style="padding-bottom:20px;">
                <h6 class="title-attr">
                    <small>SỐ LƯỢNG</small>
                </h6>
                <div>
                    1
                </div>
            </div>

            <!-- Botones de compra -->
            <div class="section" style="padding-bottom:20px;">
                <input type="button" class="form-control btn-success" (click)="addToCart(dish)" value="Cho Vào Giỏ Hàng">
            </div>

        </div>
    </div>
</div>