<section id="staff-doc">
  <div class="row">
    <div class="col-md-4">
      <a href="http://localhost:3000/upload/file/don+xin+nghi+viec.doc">
        <div class="icon">
          <i class="fa fa-file-text" aria-hidden="true"></i>
        </div>
        <div class="text">
          Đơn xin nghỉ việc
        </div>
      </a>
    </div>
  <div class="col-md-4">
    <a href="http://localhost:3000/upload/file/don-xin-nghi-phep-nam.doc">
      <div class="icon">
        <i class="fa fa-file-text" aria-hidden="true"></i>
      </div>
      <div class="text">
        Đơn xin nghỉ phép
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="http://localhost:3000/upload/file/giay de nghi tam ung.doc">
      <div class="icon">
        <i class="fa fa-file-text" aria-hidden="true"></i>
      </div>
      <div class="text">
        Đơn tạm ứng lương
      </div>
    </a>
  </div>
</div>
</section>