
<section id="salary">
    <div class="container">
      <form (ngSubmit)="search()" [formGroup]="serchform">
        <div class="row" style="display: flex;width: 100%; align-items: center;padding-top: 10px;padding-bottom: 10px">
          <div class="col-md-6">
            <div class="form-group" style="display: flex;margin-bottom: 0">
              <label style="width: 30%">Chọn tháng: </label>
              <select class="form-control" formControlName="thang">
                <option selected value="1">Tháng 1</option>
                <option value="2">Tháng 2</option>
                <option value="3">Tháng 3</option>
                <option value="4">Tháng 4</option>
                <option value="5">Tháng 5</option>
                <option value="6">Tháng 6</option>
                <option value="7">Tháng 7</option>
                <option value="8">Tháng 8</option>
                <option value="9">Tháng 9</option>
                <option value="10">Tháng 10</option>
                <option value="11">Tháng 11</option>
                <option value="12">Tháng 12</option>
              </select>
            </div>
          </div>
          <div class="col-md-3" style="display: flex; align-items: center">
            <button type="submit" class="btn btn-primary">Chọn</button>
          </div>
          <div class="col-md-3" style="display: flex; align-items: center">
            <h3>lương tháng: {{currentmonth}}, </h3>
            <h3>Năm: {{currentyear}}</h3>
          </div>
        </div>
      </form>
      <table class="table table-hover list-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên</th>
            <th scope="col">Email</th>
            <th scope="col">Chức vụ</th>
            <th scope="col">Lương theo ngày</th>
            <th scope="col">Lương</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody class="tbody-list">
          <tr *ngFor="let item of listData; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.ten}}</td>
            <td>{{item.email}}</td>
            <td>Nhân viên cấp {{item._idcapnhanvien.cap}}</td>
            <td>{{item._idcapnhanvien.luongtheongay}} VND</td>
            <td>
                <span *ngIf="item.luong==='datinh'">
                  Đã tính
              </span>
              <span *ngIf="item.luong==='chuatinh'">
                  Chưa tính
              </span>
          </td>
            <td>
              <button *ngIf="item.luong==='chuatinh'" class="btn btn-primary" (click)="calc(item)" data-toggle="modal"
                data-target="#myModal">
                Tính lương
              </button>
              <button *ngIf="item.luong==='datinh'" class="btn btn-danger" (click)="detail(item)" data-toggle="modal"
                data-target="#myModal2">
                Xem chi tiết
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <div class="modal" id="myModal" *ngIf="data">
    <div class="modal-dialog">
      <div class="modal-content" style="padding:15px">
          <section>
              Mời lựa chọn ngày làm tháng:
              <form (submit)="daytomodal()">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="addthu(1)">
                  <label class="form-check-label" for="exampleCheck1">thứ 2</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="addthu(2)">
                  <label class="form-check-label" for="exampleCheck1">thứ 3</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="addthu(3)">
                  <label class="form-check-label" for="exampleCheck1">thứ 4</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="addthu(4)">
                  <label class="form-check-label" for="exampleCheck1">thứ 5</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="addthu(5)">
                  <label class="form-check-label" for="exampleCheck1">thứ 6</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="addthu(6)">
                  <label class="form-check-label" for="exampleCheck1">thứ 7</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="addthu(0)">
                  <label class="form-check-label" for="exampleCheck1">Chủ Nhật</label>
                </div>
                <button class="btn btn-primary" type="submit">tìm kiếm</button>
              </form>
            </section>
      </div>
    </div>
  </div>
  <div class="modal" id="myModal2" *ngIf="bangluong">
    <div class="modal-dialog">
      <div class="modal-content" style="padding:15px">
        <div class="content">
            <h3 class="text-center salary-tit">
              Bảng lương tháng {{bangluong.thangtra}}
            </h3>
            <table class="salary">
              <tr>
                <td class="tit">Tên nhân viên:</td>
                <td>{{bangluong._idnhanvien.ten}}</td>
              </tr>
              <tr>
                <td class="tit">Email:</td>
                <td>{{bangluong._idnhanvien.email}}</td>
              </tr>
              <tr>
                <td class="tit">Số ngày làm:</td>
                <td>{{bangluong.songaylam}}</td>
              </tr>
              <tr>
                <td class="tit">Tổng lương:</td>
                <td class="total">{{bangluong.tongluong}}</td>
              </tr>
            </table>
            <div class="excel-export" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o"></i> Xuất Excel bảng lương
            </div>
        </div>
      </div>
    </div>
  </div>