$dayBase: 60px;

.calendar {
  display: block;
  width: $dayBase * 7;
  margin: 0 auto;
  background: white;
  padding: 5px;
  border-radius: 5px;
  * {
    box-sizing: border-box;
  }

  .calendar-navs {
    background-color: #3276b1;
    padding: 5px;
    border-radius: 5px;
    h3{
      margin: 0;
      font-size: 18px;
      font-family: dark-b;
      text-transform: uppercase;
      text-align: center;
      color: white;
    }
  }

  .month-nav {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button{
      background: none;
      border: none;
      color: white;
      text-decoration: underline;
    }
  }

  .year-nav {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat';
  }

  .month-grid {
    .day-names {
      display: flex;
      flex-direction: row;
      background: whitesmoke;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    .weeks {
      display: flex;
      flex-direction: column;
    }
    .week {
      display: flex;
      flex-direction: row;
    }
    .week-date,
    .day-name {
      text-align: center;
      padding: 10px;
      display: block;
      width: $dayBase;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .week-date {
      height: $dayBase;
      position: relative;

      .date-text {
        z-index: 10;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
      }

      &::after {
        content: '';
        height: $dayBase * 0.9;
        width: $dayBase * 0.9;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: background-color 150ms linear, color 150ms linear;
        z-index: 1;
      }

      &.enabled {
        cursor: pointer;
        &:hover {
          &:after {
            background-color: cadetblue;
          }
        }
      }
      &.selected {
        color: red;
        &:after {
          background-color: yellow;
        }
        &:hover {
          &:after {
            background-color: yellow;
          }
        }
      }

      &.disabled {
        color: slategrey;
        opacity: 0.7;
      }
    }

    .today {
      font-weight: bold;
      color: red;
    }
  }
} 
.today2{
background: yellow;
}