<div class="container-fluid">
    <div class="customer-head">
        <div class="btn-group group-them" data-toggle="buttons">
            <label class="btn btn-default btn-lg bnt-them" (click)="formShow('view')">
                Danh sách dịch vụ
            </label>
            <label class="btn btn-primary btn-lg bnt-them " (click)="formShow('create')">
                Thêm dịch vụ mới
            </label>
        </div>
    </div>
    <div class="content">
        <div class="list-customer" *ngIf="formStatus==='view'">
            <table class="table table-hover list-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên Dịch vụ</th>
                        <th scope="col">Giá</th>
                    </tr>
                </thead>
                <tbody class="tbody-list">
                    <tr *ngFor="let item of listData" (click)="formShow('detail',item)">
                        <th scope="row">1</th>
                        <td>{{item.ten}}</td>
                        <td>{{item.gia}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- ket thuc form xem list -->
        <!-- form add new begin -->
        <div class="create-customer" *ngIf="formStatus==='create'">
            <form (ngSubmit)="addNew()" [formGroup]="formAddNew">
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label>Tên Dịch vụ</label>
                        <input type="text" class="form-control" formControlName="ten" placeholder="Tên">
                    </div>
                    <div class="form-group col-md-5">
                        <label>Giá</label>
                        <input type="text" class="form-control" formControlName="gia" placeholder="Giá">
                    </div>
                    <div class="form-group col-md-8">
                        <label>Hình</label>
                        <div class="custom-file">
                            <input type="file" (change)="onFileChange($event)" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary">Thêm</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- ket thuc form add new -->
        <!-- bat dau form detail -->
        <div *ngIf="formStatus==='detail'">
            <div class="dish-detail">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 carosel">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form (ngSubmit)="edit()" [formGroup]="frmSua">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Tên Dịch Vụ</label>
                                <input type="text" class="form-control" formControlName="ten" value="{{eData.ten}}">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Giá</label>
                                <input type="text" class="form-control" formControlName="gia" value="{{eData.gia}}">
                            </div>
                            <div class="form-group col-md-8">
                                <label>Hình đã chọn</label>
                                <img src="http://localhost:3000/{{eData.hinhanh}}" style="width: 200px;
                                    height: auto;
                                    display: block;"
                                    class="img-thumbnail" alt="">
                            </div>
                            <div class="form-group col-md-8">
                                <label>Hình</label>
                                <div class="custom-file">
                                    <input type="file" (change)="onFileChange($event)" class="custom-file-input" id="inputGroupFile01">
                                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-secondary">Cập Nhật</button>
                                <button class="btn btn-warning" (click)="delete()">Xóa</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- ket thuc form detail -->
    </div>
</div>