<div style="position: relative;" class="container-fluid" style="min-height: 400px">
  <div class="row">
    <div id="headseach"  style="background: #f8f8f8; " class="col-md-12">


      <div  class="row">

        <form (change)="layGiaTri() " [formGroup]="frmTimKiem">
          <div class="col-md-3">
            <div class="input-group">

              <div style="outline: none" (click)="moTab1()" routerLink="/home/dish/thucdon" routerLinkActive="active" class="btn">
                <a style="text-decoration: none">  Thực Đơn</a>
              </div>


              <div style="outline: none" (click)="moTab2()" routerLink="/home/dish/monan" routerLinkActive="active" class="btn">
                <a style="text-decoration: none"> Món Ăn</a>
              </div>
              <!-- <select formControlName="hinhthuc" class="form-control">
                <option routerLink="/home/dish/monan" value="1">Món ăn</option>
                <option routerLink="/home/dish/thucdon" value="2">Thực đơn</option  >
              </select> -->


            </div>


          </div>
          <div [ngClass]="{'display':mo===2}" class="col-md-2">
            <div class="input-group">
              <span class="input-group-addon">
                Loại
              </span>
              <!-- <select class="animated slideInRight" *ngFor="let item of type" formControlName="loai" class="form-control">
                <option value="">Tất Cả</option>
                <option value="loai 1">Bò</option>
                <option value="loai 2">Gỏi</option>
              </select> -->
              <select class="animated slideInRight"  formControlName="loai" class="form-control">
                <option value="">Tất Cả</option>
                <option value="Cơm">Cơm</option>
                <option value="Gà">Gà</option>
                <option value="Cháo">Cháo</option>
                <option value="Gỏi">Gỏi</option>
                <option value="Nướng">Nướng</option>
              </select>
            </div>
          </div>
          <div [ngClass]="{'display':mo===2}" class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon">
                Khuyến mãi
              </span>
              <select formControlName="khuyenmai" class="form-control">
                <option value=""> 0-100%</option>
                <option value="1">1-50%</option>
                <option value="2">50-100%</option>
              </select>
            </div>
          </div>
        </form>

        <div class="col-md-2 pull-right">
          <form class="input-group dropdown" role="search">

            <input class="dropdown-toggle" data-toggle="dropdown" type="text" class="form-control" placeholder="Search" [(ngModel)]="queryString"
              [ngModelOptions]="{standalone: true}">
            <span class="input-group-addon">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
            <div style="padding: 0; border: none; max-height: 200px;overflow-y: scroll " class=" list-group dropdown-menu dropdown-lr animated slideInRight"
              role="menu">
              <a (click)="denTrangChiTiet(item._id)" class="text-center list-group-item form-control" *ngFor="let item of dishs2|filterdata: queryString : 'ten' ; let i = index ">
                {{item.ten}}
              </a>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  <div style=" margin-top: 15px">
    <ul class="pager">
      <li class="previous">
        <a href="#">&larr; Older</a>
      </li>
      <li>
      </li>
      <li class="next">
        <a href="#">Newer &rarr;</a>
      </li>
    </ul>
    <div class="row text-center ">
        <div style=" position: fixed;
   
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        
        text-align: center;
      
        
      
        " class="loader1">
        <img src="assets/images/backgroud/loader.gif" alt="">
          </div>
      <div class="conten">
        <router-outlet></router-outlet>

        <div [ngClass]="{'display':mo==2}" *ngFor="let item of dishs; let i = index ">
          <app-dish [dish]="item">
          </app-dish>
        </div>
        <!-- <div [ngClass]="{'display':mo==1}" *ngFor="let item of thucdons">
          <app-thucdon [thucdon]="item" >
          </app-thucdon>
        </div> -->
      </div>

    </div>

    <ul class="pager">
      <li class="previous">
        <a href="#">&larr; Older</a>
      </li>
      <li class="next">
        <a href="#">Newer &rarr;</a>
      </li>
    </ul>
  </div>
</div>