<div style="position: relative;" class="container-fluid" style="min-height: 400px">
    <div class="row pdt-100">
        <div id="headseach" style="background: #f8f8f8; " class="col-md-12">
            <div class="row">
                <form (change)="layGiaTri() " [formGroup]="frmTimKiem">
                    <div class="col-md-3">
                        <div class="input-group">
                            <div style="outline: none" (click)="moTab1()" routerLink="/home/dish/thucdon" routerLinkActive="active" class="btn">
                                <a style="text-decoration: none">  Thực Đơn</a>
                            </div>
                            <div style="outline: none" (click)="moTab2()" routerLink="/home/dish/monan" routerLinkActive="active" class="btn">
                                <a style="text-decoration: none"> Món Ăn</a>
                            </div>
                        </div>
                    </div>
                    <div [ngClass]="{'display':mo===2}" class="col-md-2">
                        <div class="input-group">
                            <span class="input-group-addon">
                 Loại
                 </span>
                            <select class="animated slideInRight" formControlName="loai" class="form-control">
                    <option value="0">Tất Cả</option>
                    <option *ngFor="let item of categories" value="{{item._id}}">{{item.ten}}</option>
                 </select>
                        </div>
                    </div>
                    <!-- <div [ngClass]="{'display':mo===2}" class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">
                 Khuyến mãi
                 </span>
                            <select formControlName="khuyenmai" class="form-control">
                    <option value="0"> 0-100%</option>
                    <option value="1">1-50%</option>
                    <option value="2">50-100%</option>
                 </select>
                        </div>
                    </div> -->
                </form>
                <div class="col-md-2 pull-right">
                    <form class="input-group dropdown" role="search">
                        <input class="dropdown-toggle" data-toggle="dropdown" type="text" class="form-control" placeholder="Search" [(ngModel)]="queryString" [ngModelOptions]="{standalone: true}">
                        <span class="input-group-addon">
                 <i class="fa fa-search" aria-hidden="true"></i>
                 </span>
                        <div style="padding: 0; border: none; max-height: 200px;overflow-y: scroll " class=" list-group dropdown-menu dropdown-lr animated slideInRight" role="menu">
                            <a (click)="denTrangChiTiet(item._id)" class="text-center list-group-item form-control" *ngFor="let item of dishs2|filterdata: queryString : 'ten' ; let i = index ">
                    {{item.ten}}
                    </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style=" margin-top: 15px">
        <div class="container">
            <div class="row text-center ">
                <div style=" position: fixed;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              text-align: center;
              " class="loader1">
                    <img src="assets/images/backgroud/loader.gif" alt="">
                </div>
                <div class="conten">
                    <router-outlet></router-outlet>
                    <div [ngClass]="{'display':mo==2}" *ngFor="let item of dishs; let i = index ">
                        <app-dish [dish]="item">
                        </app-dish>
                    </div>
                    <!-- <div [ngClass]="{'display':mo==1}" *ngFor="let item of thucdons">
              <app-thucdon [thucdon]="item" >
              </app-thucdon>
              </div> -->
                </div>
            </div>
        </div>
    </div>
</div>