<div id="thongtinngdung">
  <div class="container">
    <div id="gradient"></div>
    <div id="card">
      <div class="col-md-3">
        <a href="">
          <img src="../../../assets/images/us.jpg" />
        </a>
      </div>
      <div class="col-md-9">
        <a href="">
          <h2>{{usertemp.ten}}</h2>
        </a>
        <div class="form-tt">
          <form>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label>Tên Khách Hàng</label>
                <input type="text" disabled class="form-control" value="{{usertemp.ten}}">
              </div>
              <div class="form-group col-md-12">
                <label>Email</label>
                <input type="email" class="form-control" disabled value="{{usertemp.email}}">
              </div>
              <div class="form-group col-md-12">
                <button type="submit" class="btn btn-secondary">Cập Nhật</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>