<section>
    <h1 style="text-align: center">
        BẢNG LƯƠNG THÁNG {{currentmonth}} - {{currentyear}}
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align: center;">
                <button (click)="bangluongtruoc()" class="btn-adtocart">
          <i class="fa fa-angle-double-left" aria-hidden="true"></i> Xem tháng trước
        </button>
                <button class="btn-adtocart" (click)="bangluongsau()">
          Xem tháng kế tiếp <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </button></div>
            <div class="col-md-4"></div>
        </div>
        <div class="data">
            <div class="wrap-sla">
                <div *ngIf="!currentsalary">
                    <h3 style="text-align: center;">LƯƠNG THÁNG {{currentmonth}} CHƯA ĐƯỢC TÍNH</h3>
                </div>
                <div *ngIf="currentsalary">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <table>
                                <tr>
                                    <td>Tên nhân viên:</td>
                                    <td>{{currentsalary._idnhanvien.ten}}</td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td>{{currentsalary._idnhanvien.email}}</td>
                                </tr>
                                <tr>
                                    <td>Cấp độ nhân viên:</td>
                                    <td>{{currentsalary.cap}}</td>
                                </tr>
                                <tr>
                                    <td>Tổng số ngày làm việc:</td>
                                    <td>{{currentsalary.songaylam}}</td>
                                </tr>
                                <tr>
                                    <td>Lương/Ngày:</td>
                                    <td>{{currentsalary.luongtheongay | number}}đ</td>
                                </tr>
                                <tr>
                                    <td>Tổng cộng</td>
                                    <td>{{currentsalary.songaylam * currentsalary.luongtheongay | number}}đ</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>