.ranking-content{
    padding: 20px;
}
table{
    background: white;
    border-radius: 5px;
    thead{
        
    }
}
#ranking{
    padding: 30px;
}
#addranking{
    .modal-content{
        height: 220px;
    }
}