<div class="bills">

    <div class="more-search">
        <div class="d-flex j-sb">
            <div class="btn-adtocart" data-toggle="collapse" data-target="#search">
                + Tìm Kiếm Nâng Cao
            </div>
            <div class="btn btn-sm btn-success" data-toggle="modal" (click)="getDataToCreate()" data-target="#bill-create">Tạo hóa đơn mới</div>

        </div>


        <div id="search" class="collapse">
            <button class="btn-adtocart" data-toggle="modal" data-target="#range">
                khoảng ngày
            </button>
            <button class="btn-adtocart" data-toggle="modal" data-target="#afterdate">
                truoc ngày được nhập
            </button>
            <button class="btn-adtocart" data-toggle="modal" data-target="#beforedate">
                sau ngày được nhập
            </button>
            <button class="btn-adtocart cancel" (click)="filterById4()">
                bỏ tìm kiếm
            </button>
        </div>
        <div id="range" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form (submit)="filterById()">
                        <div class="row">
                            <div class="col-md-6">
                                <label>
                                    Từ ngày:
                                </label>
                                <input type="date" name="min" id="min" [(ngModel)]="min" />
                            </div>
                            <div class="col-md-6">
                                <label>
                                    Đến
                                </label>
                                <input type="date" name="max" id="max" [(ngModel)]="max" />
                            </div>
                        </div>
                        <div class="col-md-12 bottom">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-search"
                                    aria-hidden="true"></i> Tìm kiếm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="afterdate" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form (submit)="filterById2()">
                        <div class="row">
                            <div class="col-md-9">
                                <label>
                                    Xem hóa đơn kể từ ngày:
                                </label>
                                <input type="date" name="min" id="min" [(ngModel)]="min" />
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary" type="submit">tìm kiếm</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div id="beforedate" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form (submit)="filterById3()">
                        <div class="row">
                            <div class="col-md-9">
                                <label>
                                    Xem hóa đơn cho đến ngày:
                                </label>
                                <input type="date" name="max" id="max" [(ngModel)]="max" />
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary" type="submit">tìm kiếm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Chưa xác nhận</a></li>
        <li><a data-toggle="tab" href="#menu1">Đã xác nhận</a></li>
        <li><a data-toggle="tab" href="#menu2">Đã thanh toán</a></li>
        <li><a data-toggle="tab" href="#menu3">Đã Hủy</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane in active">
            <table class="table table-hover list-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Thời điểm tạo</th>
                        <th scope="col">Thời điểm dến</th>
                        <th scope="col">Tình Trạng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="tbody-list">
                    <tr *ngFor="let item of chuaxacnhan;let i = index">
                        <th *ngIf="item.tinhtrang===0" scope="row">{{i+1}}</th>
                        <td *ngIf="item.tinhtrang===0">{{item._idkhachhang.ten}}</td>
                        <td *ngIf="item.tinhtrang===0">{{item.thoidiemtao}}</td>
                        <td>{{item.thoidiemden}}</td>
                        <td *ngIf="item.tinhtrang===0" style="color:red">Chưa xác nhận</td>
                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detail_modal" (click)="openDetail(item)">
                                Xem chi tiết
                            </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="menu1" class="tab-pane fade">
            <table class="table table-hover list-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Thời điểm tạo</th>
                        <th scope="col">Tình Trạng</th>
                    </tr>
                </thead>
                <tbody class="tbody-list">
                    <tr *ngFor="let item of daxacnhan;let i = index">
                        <th *ngIf="item.tinhtrang===1" scope="row">{{i+1}}</th>
                        <td *ngIf="item.tinhtrang===1">{{item._idkhachhang.ten}}</td>
                        <td *ngIf="item.tinhtrang===1">{{item.thoidiemtao}}</td>
                        <td *ngIf="item.tinhtrang===1">
                            <span class="cancel-text confirmed">Đã xác nhận</span>
                        </td>
                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detail_modal" (click)="openDetail(item)">
                                Xem chi tiết
                            </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="in-m2">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#hmtt">Đã thanh toán 10%</a></li>
                    <li><a data-toggle="tab" href="#hmtt2">Đã thanh toán 100%</a></li>
                </ul>
                <div class="tab-content">
                    <div id="hmtt" class="tab-pane in active">
                        <table class="table table-hover list-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tên khách hàng</th>
                                    <th scope="col">Thời điểm tạo</th>
                                    <th scope="col">Tình Trạng</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="tbody-list">
                                <tr *ngFor="let item of dathanhtoan2;let i = index">
                                    <th *ngIf="item.tinhtrang===2" scope="row">{{i+1}}</th>
                                    <td *ngIf="item.tinhtrang===2">{{item._idkhachhang.ten}}</td>
                                    <td *ngIf="item.tinhtrang===2">{{item.thoidiemtao}}</td>
                                    <td *ngIf="item.tinhtrang===2">
                                        <span class="cancel-text payed">Đã thanh toán</span>
                                    </td>
                                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detail_modal" (click)="openDetail(item)">
                                            Xem chi tiết
                                        </button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="hmtt2" class="tab-pane fade">
                        <table class="table table-hover list-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Tên khách hàng</th>
                                    <th scope="col">Thời điểm tạo</th>
                                    <th scope="col">Tình Trạng</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="tbody-list">
                                <tr *ngFor="let item of dathanhtoan1;let i = index">
                                    <th *ngIf="item.tinhtrang===2" scope="row">{{i+1}}</th>
                                    <td *ngIf="item.tinhtrang===2">{{item._idkhachhang.ten}}</td>
                                    <td *ngIf="item.tinhtrang===2">{{item.thoidiemtao}}</td>
                                    <td *ngIf="item.tinhtrang===2">
                                        <span class="cancel-text payed">Đã thanh toán</span>
                                    </td>
                                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detail_modal" (click)="openDetail(item)">
                                            Xem chi tiết
                                        </button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
            <table class="table table-hover list-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Thời điểm tạo</th>
                        <th scope="col">Tình Trạng</th>
                    </tr>
                </thead>
                <tbody class="tbody-list">
                    <tr *ngFor="let item of huy;let i = index">
                        <th *ngIf="item.tinhtrang===-1" scope="row">{{i+1}}</th>
                        <td *ngIf="item.tinhtrang===-1">{{item._idkhachhang.ten}}</td>
                        <td *ngIf="item.tinhtrang===-1">{{item.thoidiemtao}}</td>
                        <td *ngIf="item.tinhtrang===-1">
                            <span class="cancel-text">Đã hủy</span>
                            <button class="btn btn-danger" (click)="deleteBill(item._id)">Xóa</button>
                        </td>
                        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detail_modal" (click)="openDetail(item)">
                                Xem chi tiết
                            </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="list-table" *ngIf="xem===true">
        <div class="excel-export" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o"></i> Xuất Excel bảng dữ liệu
        </div>
    </div>
</div>
<div class="modal fade" id="detail_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="detail">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <form *ngIf="ehoadon._idkhachhang">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Tên khách hàng</label>
                                    <input type="text" class="form-control" disabled value="{{ehoadon._idkhachhang.ten}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Số điện thoại</label>
                                    <input type="text" class="form-control" disabled value="{{ehoadon._idkhachhang.sdt}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Email</label>
                                    <input type="text" class="form-control" disabled value="{{ehoadon._idkhachhang.email}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Thời điểm tạo</label>
                                    <input type="text" class="form-control" disabled value="{{ehoadon.thoidiemtao}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Giờ đến</label>
                                    <input type="text" class="form-control" value="{{ehoadon.gioden}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Thời điểm đến</label>
                                    <input type="text" class="form-control" value="{{ehoadon.thoidiemden}}">
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Thời lượng</label>
                                    <div *ngIf="ehoadon.buoiDat===1">
                                        Buối sáng
                                    </div>
                                    <div *ngIf="ehoadon.buoiDat===2">
                                        Buối chiều
                                    </div>
                                    <div *ngIf="ehoadon.buoiDat===3">
                                        Cả ngày
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Phòng</label>
                                    <input type="text" class="form-control" value="{{ehoadon._idphong.ten}}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Giá phòng</label>
                                    <input *ngIf="pongdt" type="text" class="form-control" value="{{pongdt.gia}}">
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label data-toggle="collapse" href="#dish-colapse" style="width: 100%" class="lbrela">Các món ăn đã chọn <i class="fa fa-caret-down"
                                            aria-hidden="true"></i> <span class="tong">Tổng đã mua: {{totalma}}</span>
                                    </label>
                                    <div class="collapse" id="dish-colapse">
                                        <div class="dish-loop" *ngFor="let item of eCthd">
                                            <div class="cover1" *ngIf="item._idmonan">
                                                <div class="form-group col-md-12">
                                                    <label>Tên món ăn</label>
                                                    <input type="text" class="form-control" disabled value="{{item._idmonan.ten}}">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Số lượng</label>
                                                    <input type="number" class="form-control" value="{{item.soluongmonan}}">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Đơn giá</label>
                                                    <input type="text" class="form-control" disabled value="{{item._idmonan.gia}}">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Khuyến mãi</label>
                                                    <input type="text" class="form-control" value="{{item._idmonan.khuyenmai}}">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Thành tiền</label>
                                                    <input type="text" *ngIf="item._idmonan.khuyenmai===0" class="form-control" disabled value="{{item.soluongmonan*item._idmonan.gia}}">
                                                    <input type="text" *ngIf="item._idmonan.khuyenmai!==0" class="form-control" disabled value="{{item.soluongmonan*item._idmonan.gia-(item.soluongmonan*item._idmonan.gia*item._idmonan.khuyenmai/100)}}">
                                                </div>
                                            </div>
                                            <div class="cover2" *ngIf="item._idthucdon">
                                                <div class="form-group col-md-12">
                                                    <label>Tên món ăn</label>
                                                    <input type="text" class="form-control" disabled value="{{item._idthucdon.ten}}">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Số lượng</label>
                                                    <input type="number" class="form-control" value="{{item.soluongthucdon}}">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Đơn giá</label>
                                                    <input type="text" class="form-control" disabled value="{{item._idthucdon.gia}}">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Khuyến mãi</label>
                                                    <input type="text" class="form-control" value="{{item._idthucdon.khuyenmai}}">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label>Thành tiền</label>
                                                    <input type="text" class="form-control" disabled value="{{item.soluongthucdon*item._idthucdon.gia}}">

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <label data-toggle="collapse" href="#services-colapse" style="width: 100%" class="lbrela"> Dịch vụ đã chọn <i class="fa fa-caret-down"
                                            aria-hidden="true"></i> <span class="tong">Tổng đã mua: {{totaldv}}</span>
                                    </label>
                                    <div class="collapse" id="services-colapse">
                                        <div class="dish-loop" *ngFor="let item of ectdv">
                                            <div class="form-group col-md-12">
                                                <label>Tên dịch vụ</label>
                                                <input type="text" class="form-control" disabled value="{{item._iddichvu.ten}}">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label>Thành tiền</label>
                                                <input type="text" class="form-control" disabled value="{{item._iddichvu.gia}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mgt-30">
                                        <div class="form-group col-md-4">
                                            <label>Tổng tiền</label>
                                            <input type="text" class="form-control" value="{{ehoadon.tongtien}}">
                                        </div>

                                        <div class="form-group col-md-4" *ngIf="ehoadon.tinhtrang==2">
                                            <label>Đã thanh toán</label>
                                            <input *ngIf="ehoadon.hinhthucthanhtoan===1" type="text" class="form-control" value="{{ehoadon.tongtien}}">
                                            <input *ngIf="ehoadon.hinhthucthanhtoan===2" type="text" class="form-control" value="{{ehoadon.tongtien*0.1}}">
                                        </div>
                                        <div class="form-group col-md-4" *ngIf="ehoadon.tinhtrang==2">
                                            <label>Còn lại</label>
                                            <input *ngIf="ehoadon.hinhthucthanhtoan===1" type="text" class="form-control" value="0">
                                            <input *ngIf="ehoadon.hinhthucthanhtoan===2" type="text" class="form-control" value="{{ehoadon.tongtien-ehoadon.tongtien*0.1}}">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-toggle="modal" data-target="#edit" type="button" (click)="getid(ehoadon._id)" class="btn btn-secondary">Sửa
                </button>
                <button *ngIf="ehoadon.tinhtrang===0" type="submit" class="btn btn-secondary" (click)="confirm(ehoadon._id,1)">Xác nhận đơn
                    hàng</button>
                <button class="btn btn-danger" (click)="huyhd2(ehoadon._id,-1)">Hủy</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn" (click)="deleteBill(ehoadon._id)">Xóa</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="bill-create" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Tạo hóa đơn mới</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Khách hàng</label>
                            <select class="select2 opt form-control" style="width: 100%;">
                                <option value="0">Chưa chọn</option>
                                <option *ngFor="let item of listData" value="{{item._id}}">
                                    {{item.ten}} - {{item.email }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Phòng</label>
                            <select class="select2 opt form-control" style="width: 100%;">
                                <option value="0">Chưa chọn</option>
                                <option *ngFor="let item of listRooms" value="{{item._id}}">
                                    {{item.ten}} - Sức chứa: {{item.succhua }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Thời điểm đến</label>
                            <input type="date" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Giờ đến</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="number" min="1" max="24" class="form-control">
                                </div>
                                <div class="col-md-6">
                                    <input type="number" min="1" max="60" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-sm btn-success">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div id="edit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="row" style="flex-wrap: wrap">
                    <div class="col-md-6">
                        <div class="wrap" style="display:flex;align-items: center">
                            Ngày đến:
                            <div class='input-group'>
                                <input id="thoidiemdat" style="width:100%" type='date' class="form-control" [(ngModel)]="fromDate" name="fromDate" (change)="laythoigian($event)" />
                                <img style="" *ngIf="doi==true" src="../../../assets/images/load.svg" alt="">
                            </div>
                            <div *ngIf="time" style="margin-left: 10px">
                            </div>
                        </div>
                        <span style="color:red" class="label" *ngIf="check===false">Đã qua ngày này!</span>
                    </div>
                    <div class="col-md-6">
                        <div class="" style="display: flex;align-items: center">
                            <label for="name" class="cols-sm-2 control-label">giờ đến:</label>
                            <div class="cols-sm-10 wrong" style="display:flex;align-items: center;line-height: 1">
                                <input oninput="validity.valid||(value='');" type="number" min="6" max="21" class="form-control text-center" value="" [(ngModel)]="gio" [ngModelOptions]="{standalone: true}" /> Giờ:
                                <input oninput="validity.valid||(value='');" type="number" min="0" max="60" class="form-control text-center" value="0" [(ngModel)]="phut" [ngModelOptions]="{standalone: true}" /> Phút
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="cover" style="width: 100%;display: flex;justify-content: center;" *ngIf="phong">
                            <table class="table" style="width: 600px;margin: auto">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Tên
                                        </th>
                                        <th>
                                            Loại
                                        </th>
                                        <th>
                                            Giá
                                        </th>
                                        <th>
                                            Sức chứa
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr [ngClass]="{'animated ':phongChon==item}" *ngFor="let item of phong">
                                        <td>{{item.ten}}</td>
                                        <td>{{item.loai}}</td>
                                        <td>{{item.gia|number}} VNĐ</td>
                                        <td>{{item.succhua}} Người</td>
                                        <td>
                                            <div [ngClass]="{'sl':kiemtrabuoi(1,item._id)}" *ngIf="item.sang==='trong'" class="btn btn-success" (click)=chonBuoi(1,item._id)>
                                                Sáng
                                            </div>
                                            <div *ngIf="item.sang==='dat'" class="btn btn-default">
                                                Sáng
                                            </div>
                                            <div [ngClass]="{'sl':kiemtrabuoi(2,item._id)}" *ngIf="item.chieu==='trong'" class="btn btn-success" (click)=chonBuoi(2,item._id)>
                                                Chiều
                                            </div>
                                            <div *ngIf="item.chieu==='dat'" class="btn btn-default">
                                                Chiều
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <input id="checkbox" [ngClass]="{'display':kiemTra(item._id)}" type="button" value="Chọn" class="btn btn-default" (click)="giatriphong(item)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button class="btn" (click)="change()">Thay Đổi</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
            </div>
        </div>

    </div>

</div>