.bills{
    width: 100%;
    height: 600px;
    padding: 0 20px;
    overflow-y: scroll;
    table.list-table{
        background: white;
        .tbody-list{
            height: auto;
        }
    }

}
.dish-loop{
    display: block;
    width: 100%;
    height: 148px;
    &:nth-child(2n+1){
        background: #ececec69;
    }
}
.mgt-30{
    margin-top: 30px;
}