.bills {
    width: 100%;
    height: 600px;
    padding: 0 20px;
    overflow-y: scroll;
    table.list-table {
        background: white;
        .tbody-list {
            height: auto;
        }
    }
}

.sl,
.display {
    background: #428bca !important;
}

#edit .modal-dialog {
    width: 800px;
}

.dish-loop {
    display: block;
    width: 100%;
    height: 148px;
    &:nth-child(2n+1) {
        background: #ececec69;
    }
}

.mgt-30 {
    margin-top: 30px;
}

.cancel-text {
    color: black;
    padding: 5px 0;
    margin-right: 10px;
    border-bottom: 1px solid grey;
    &.payed {
        color: green;
        border-color: green;
    }
    &.confirmed {
        color: rgba(48, 48, 134, 0.589);
        border-color: rgba(48, 48, 134, 0.589);
    }
}

form {
    display: inline-block;
    width: 100%;
    .row {
        display: flex;
        align-items: center;
        >div {
            padding: 5px 15px;
            display: flex;
            align-items: center;
            label {
                width: 35%;
            }
            input {
                width: 65%;
            }
        }
    }
    .bottom {
        margin-top: 30px;
    }
}

.more-search {
    margin-bottom: 20px;
    #search {
        padding: 7px 15px 0px;
        .btn-adtocart {
            margin-right: 10px;
            background: #428bca;
            border-color: snow;
            color: white;
            text-transform: uppercase;
            &.cancel {
                background: rgba(230, 114, 114, 0.94);
            }
        }
    }
}

.lbrela {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid grey;
    span {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        color: burlywood;
    }
}

div#menu2 .in-m2 {
    display: flex;
    flex-wrap: wrap;
    ul.nav.nav-tabs {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 15px;
    }
    .tab-content {
        width: 100%;
    }
}

#range {
    padding: 40px
}

.d-flex {
    display: flex;
}

.j-sb {
    justify-content: space-between;
}

#bill-create .select2-container .select2-selection--single {
    height: 35px !important;
}

#bill-create .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px !important;
}