<div class="bills">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Chưa xác nhận</a></li>
        <li><a data-toggle="tab" href="#menu1">Đã xác nhận</a></li>
        <li><a data-toggle="tab" href="#menu2">Đã thanh toán</a></li>
        <li><a data-toggle="tab" href="#menu3">Đã Hủy</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <table class="table table-hover list-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Thời điểm tạo</th>
                        <th scope="col">Tình Trạng</th>
                    </tr>
                </thead>
                <tbody class="tbody-list">
                    <tr *ngFor="let item of chuaxacnhan;let i = index">
                        <th *ngIf="item.tinhtrang===0" scope="row">{{i+1}}</th>
                        <td *ngIf="item.tinhtrang===0">{{item.ten}}</td>
                        <td *ngIf="item.tinhtrang===0">{{item.thoidiemtao}}</td>
                        <td *ngIf="item.tinhtrang===0" style="color:red">Chưa xác nhận</td>
                        <td *ngIf="item.tinhtrang===2" style="color:yellow">Đã xác nhận</td>
                        <td *ngIf="item.tinhtrang===3" style="color:green">Đã thanh toán</td>
                        <td><button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#detail_modal" (click)="openDetail(item)">
                                Xem chi tiết
                            </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="menu1" class="tab-pane fade">
            <table class="table table-hover list-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Thời điểm tạo</th>
                        <th scope="col">Tình Trạng</th>
                    </tr>
                </thead>
                <tbody class="tbody-list">
                    <tr *ngFor="let item of daxacnhan;let i = index">
                        <th *ngIf="item.tinhtrang===1" scope="row">{{i+1}}</th>
                        <td *ngIf="item.tinhtrang===1">{{item.ten}}</td>
                        <td *ngIf="item.tinhtrang===1">{{item.thoidiemtao}}</td>
                        <td *ngIf="item.tinhtrang===1" style="color:yellow">Đã xác nhận</td>
                        <td><button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#detail_modal" (click)="openDetail(item)">
                                Xem chi tiết
                            </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="menu2" class="tab-pane fade">
            <table class="table table-hover list-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Thời điểm tạo</th>
                        <th scope="col">Tình Trạng</th>
                    </tr>
                </thead>
                <tbody class="tbody-list">
                    <tr *ngFor="let item of dathanhtoan;let i = index">
                        <th *ngIf="item.tinhtrang===2" scope="row">{{i+1}}</th>
                        <td *ngIf="item.tinhtrang===2">{{item.ten}}</td>
                        <td *ngIf="item.tinhtrang===2">{{item.thoidiemtao}}</td>
                        <td *ngIf="item.tinhtrang===2" style="color:yellow">Đã thanh toán</td>
                        <td><button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#detail_modal" (click)="openDetail(item)">
                                Xem chi tiết
                            </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="menu3" class="tab-pane fade">
            <table class="table table-hover list-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Thời điểm tạo</th>
                        <th scope="col">Tình Trạng</th>
                    </tr>
                </thead>
                <tbody class="tbody-list">
                    <tr *ngFor="let item of huy;let i = index">
                        <th *ngIf="item.tinhtrang===-1" scope="row">{{i+1}}</th>
                        <td *ngIf="item.tinhtrang===-1">{{item.ten}}</td>
                        <td *ngIf="item.tinhtrang===-1">{{item.thoidiemtao}}</td>
                        <td *ngIf="item.tinhtrang===-1" style="color:yellow">Đã hủy
                            <button class="btn btn-danger" (click)="deleteBill(item._id)">Xóa</button>
                        </td>
                        <td><button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#detail_modal" (click)="openDetail(item)">
                                Xem chi tiết
                            </button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="list-table" *ngIf="xem===true">
        <div class="excel-export" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o"></i> Xuất Excel bảng dữ liệu
        </div>

    </div>

</div>
<div class="modal fade" id="detail_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="detail">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <form *ngIf="ehoadon.ten">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>Tên khách hàng</label>
                                    <input type="text" class="form-control" disabled value="{{ehoadon.ten}}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Thời điểm tạo</label>
                                    <input type="text" class="form-control" disabled value="{{ehoadon.thoidiemtao}}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Thời điểm đến</label>
                                    <input type="text" class="form-control" value="{{ehoadon.thoidiemden}}">
                                </div>

                                <div class="form-group col-md-4">
                                    <label>Phòng</label>
                                    <input type="text" class="form-control" value="{{ehoadon._idphong.ten}}">
                                </div>
                                <div class="form-group col-md-12 ">
                                    <label style="width: 100%">Các món ăn đã chọn</label>
                                    <div class="dish-loop" *ngFor="let item of eCthd">
                                        <div class="form-group col-md-12">
                                            <label>Tên món ăn</label>
                                            <input type="text" class="form-control" disabled
                                                value="{{item._idmonan.ten}}">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Số lượng</label>
                                            <input type="number" class="form-control" value="{{item.soluongmonan}}">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Đơn giá</label>
                                            <input type="text" class="form-control" disabled
                                                value="{{item._idmonan.gia}}">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Khuyến mãi</label>
                                            <input type="text" class="form-control" value="{{item._idmonan.khuyenmai}}">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Thành tiền</label>
                                            <input type="text" class="form-control" disabled value="">
                                        </div>
                                    </div>
                                    <div class="row mgt-30">
                                        <div class="form-group col-md-4">
                                            <label>Tổng tiền</label>
                                            <input type="text" class="form-control" value="{{ehoadon.tongtien}}">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Đã thanh toán</label>
                                            <input type="text" class="form-control" value="INSERT VALUE">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>Còn lại</label>
                                            <input type="text" class="form-control" value="INSERT VALUE">
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" (click)="confirm(ehoadon._id,1)">Xác nhận đơn hàng</button>
                <button class="btn btn-danger" (click)="deleteBill(ehoadon._id)">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>