<div class="my-statis">
  <div class="row">
    <div class="col-md-4">
      <div data-toggle="modal" class="chart-open" (click)='showmodal()' data-target="#myModal">
        <div class="icon">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
        </div>
        <div class="text">
          Biểu đồ số lượng món ăn được mua trong năm
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="chart-open" data-toggle="modal" (click)='showmodal2()' data-target="#myModal2">
        <div class="icon">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
        </div>
        <div class="text">
          Biểu đồ thu nhập nhận từng món ăn bán được
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="chart-open" data-toggle="modal" (click)='showmodal3()' data-target="#myModal3">
        <div class="icon">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
        </div>
        <div class="text">
          Biểu đồ số lượng thực đơn được mua
          trong năm
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="chart-open" data-toggle="modal" (click)='showmodal4()' data-target="#myModal4">
        <div class="icon">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
        </div>
        <div class="text">
          Biểu đồ thu nhập nhận từ thực đơn
          được mua trong năm
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="chart-open" data-toggle="modal" (click)='showmodal5()' data-target="#myModal5">
        <div class="icon">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
        </div>
        <div class="text">
          Biểu đồ số lượng món ăn được mua trong năm
        </div>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div *ngIf="chartData">
        <canvas baseChart [chartType]="'line'" [datasets]="chartData" [labels]="labels" [options]="chartOptions"
          [legend]="true" [colors]="colors" (chartClick)="onChartClick($event)">
        </canvas>
        <h2 class="text-center">
          {{title}}
        </h2>
      </div>
    </div>

  </div>
</div>
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div *ngIf="chartData2">
        <canvas baseChart [chartType]="'line'" [datasets]="chartData2" [labels]="labels2" [options]="chartOptions2"
          [legend]="true" [colors]="colors2" (chartClick)="onChartClick($event)">
        </canvas>
        <h2 class="text-center">
          {{title2}}
        </h2>
      </div>
    </div>

  </div>
</div>
<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div *ngIf="chartData3">
        <canvas baseChart [chartType]="'line'" [datasets]="chartData3" [labels]="labels3" [options]="chartOptions3"
          [legend]="true" [colors]="colors3" (chartClick)="onChartClick($event)">
        </canvas>
        <h2 class="text-center">
          {{title2}}
        </h2>
      </div>
    </div>

  </div>
</div>
<div id="myModal4" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div *ngIf="chartData4">
        <canvas baseChart [chartType]="'line'" [datasets]="chartData4" [labels]="labels4" [options]="chartOptions4"
          [legend]="true" [colors]="colors4" (chartClick)="onChartClick($event)">
        </canvas>
        <h2 class="text-center">
          {{title2}}
        </h2>
      </div>
    </div>

  </div>
</div>
<div id="myModal5" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div *ngIf="chartData5">
        <canvas baseChart [chartType]="'bar'" [datasets]="chartData5" [labels]="labels5" [options]="chartOptions5"
          [legend]="true" [colors]="colors5" (chartClick)="onChartClick($event)">
        </canvas>
        <h2 class="text-center">
          {{title5}}
        </h2>
      </div>
    </div>

  </div>
</div>