<body>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <p style="font-size: 20px" class="text-center">
        ĐƠN HÀNG</p>
    </div>
    <!-- Table -->
    <div class="panel-body">
      <div *ngIf="open==0" class="alert alert-info lead text-center animated jello" role="alert">Chưa có hóa đơn nào!</div>
      <div *ngIf="open==1">
        <div class="col-md-3">
          <div class="form-group">
            <div class="cols-sm-10">
            </div>
            <!-- Modal -->
            <div class="modal fade" id="phong" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>
                    </button>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="input-group modal-title " id="myModalLabel">
                          <span class="input-group-addon">
                            Loai Phòng:
                          </span>
                          <form [formGroup]="frmTimKiem" (change)="timKiemLoaiPhong()">
                            <select formControlName="loai" class="form-control">
                              <option value="0"></option>
                              <option value="VIP">VIP</option>
                              <option value="THUONG">THƯỜNG</option>
                            </select>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <h4 class="text-center">Danh Sách Phòng</h4>
                        <hr/>
                        <table class="table ">

                          <thead>
                            <tr>
                              <th>Tên</th>
                              <th>Loại</th>
                              <th>Giá</th>

                              <th class="text-center">#</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr [ngClass]="{'animated ':phongChon==item}" *ngFor="let item of phong">
                              <td>{{item.ten}}</td>
                              <td>{{item.loai}}</td>
                              <td>{{item.gia}}</td>
                              <td class="text-center">
                                <input [ngClass]="{'display':kiemTra(item._id)}" id="checkbox" type="button" value="Chọn" class="btn btn-default" (click)="giatriphong(item)">
                              </td>
                            </tr>
                          </tbody>

                        </table>
                      </div>
                      <div class="col-md-6">
                        <h4 class="text-center">Danh Sách Phòng Vừa Đặt</h4>
                        <hr/>
                        <div style="margin-top: 100px" [ngClass]="{'display':tinhtrangphongstore===1}" class="animated jello alert alert-info" role="alert">Bạn chưa Chọn phòng</div>
                        <table [ngClass]="{'display':tinhtrangphongstore===0}" class="table">
                          <thead>
                            <tr>
                              <th>Tên</th>
                              <th>Loại</th>
                              <th>Giá</th>


                              <th>#</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of phongstore">
                              <td>{{item.item.ten}}</td>
                              <td>{{item.item.loai}}</td>
                              <td>{{item.item.gia}}</td>
                              <td>
                                <span (click)="xoaPhongStore(item.item)" ><i class="fa fa-trash-o" aria-hidden="true"></i></span>

                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td></td>
                              <td></td>
                              <td>Tổng:{{tienphong}}</td>
                              <td></td>
                            </tr>
                          </tfoot>

                        </table>
                      </div>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <table class="table table-striped">

          <thead>
            <tr>
              <td>Hinh Ảnh</td>
              <td>Tên</td>
              <td class="text-center">Số Lượng</td>
              <td class="text-center">Tổng Tiền</td>
              <td>#</td>
            </tr>
          </thead>
          <tbody>
            <tr id="thu" *ngFor="let item of cart">

              <td>
                <a style="margin-bottom: 0" class="thumbnail">
                  <img style="max-width: 34px;" src="assets/images/dish/dish.jpg" alt="...">
                </a>

              </td>
              <td>
                <span style="margin: auto">{{item.item.ten}}</span>
              </td>
              <td class="text-center">
                <input oninput="validity.valid||(value='');" style="width: 50%;display: inline;" type="number" min="1" max="100" class="form-control"
                  value="{{item.sl}}" (change)="thayDoiGiaTri($event.target.value,item)">
              </td>
              <td class="text-center">
                {{item.item.gia*item.sl}}
              </td>
              <td>
                <span id="icon" (click)="xoa(item.item._id)" >
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </span>
              </td>
            </tr>
            <tr id="thu" *ngFor="let item of cart1">
              <td>

                <span style="margin-bottom: 0" class="title-price text-center thumbnail">
                  <small>THỰC ĐƠN</small>
                </span>
              </td>
              <td>
                <span style="margin: auto">{{item.thucdon.ten}}</span>
              </td>
              <td class="text-center">
                <input oninput="validity.valid||(value='');" style="width: 50%;display: inline;" type="number" min="1" max="100" class="form-control"
                  value="{{item.sl}}" (change)="thayDoiGiaTriThucDon($event.target.value,item)">
              </td>
              <td class="text-center">
                {{item.thucdon.gia*item.sl}}
              </td>
              <td>
                <span (click)="xoaThucDon(item.thucdon._id)" >
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </span>
              </td>
            </tr>
            <tr class="success">
                <td class="text-left text-primary"> </td>
                <td></td>
                <td></td>
                <td>
  
                </td>
                <td class="text-right success">
                  <span [ngClass]="{'display':motien===3||motien===2}">Tiền ăn:{{tongTien+tienthucdon}}</span>
                  <span [ngClass]="{'display':motien===2||motien===0}">Tiền ăn:{{tienthucdon}}</span>
                  <span [ngClass]="{'display':motien===3||motien===0}">Tiền ăn:{{tongTien}}</span>
                </td>
              </tr>
            <tr class="success">
                <th>
                  <div id="nutPhong" class="form-control btn btn-success" data-toggle="modal" data-target="#phong">
                    Chọn phòng
                  </div>
                </th>
                <th>
  
                </th>
                <th>
  
                </th>
                <th>
  
                </th>
                <th  class="  text-right">
                  <span  [ngClass]="{'display':tinhtrangphongstore===0}" >
                      Tiền phòng:{{tienphong}}
                  </span>
                  
                </th>
              </tr>
              <tr class="success">
                  <th class="dropdown">
                    <div class="form-control text-center btn-success dropdown-toggle" data-toggle="dropdown">
                      Chọn dịch vụ
                    </div>
                    
                    <form style="left: inherit; border: none; padding: 0" class="form-control dropdown-menu dropdown-lr animated jello" role="menu">
                       <div *ngFor="let item of dichvus">
                 
                        <div class="input-group">
                        
                          <input (click)="chonDichVu(item)" type="button"  class="form-control" value="{{item.ten}}-{{item.gia}}">
                         
                            <span class="input-group-addon">
                              <i style="width: 20px;" (click)="huyDichVu(item)" [ngClass]="{'fa fa-check-square-o text-success':kiemTraDichVuCick(item)}"  aria-hidden="true"></i>
                              <i style="width: 20px;" (click)="chonDichVu(item)" [ngClass]="{'fa fa-square-o':!kiemTraDichVuCick(item)}"  aria-hidden="true"></i>
                            </span>
                        </div>
                     
                      </div> 
                     
                    </form>
                  
                  </th>
    
                  <th>
    
                  </th>
                  <th>
    
                  </th>
                  <th>
    
                  </th>
                  <td style="width: 200px;" class="text-right success">
                    <span *ngIf="!kiemTraHienTienDichVu()" >Tiền Dịch Vụ:{{tiendichvu}}</span>
                  </td>
                </tr>
          </tbody>
          <tfoot>
            
          </tfoot>
          <tfoot>
            <tr class="danger">
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th class="text-right">Thành Tiền :{{tiendichvu+tienphong+tongTien}} VNG</th>
            </tr>
          </tfoot>

        </table>


      </div>
    </div>
    <div *ngIf="open==1" class="panel-footer text-right">
      <div class="row">
        <div class="col-md-4"></div>
        <div style="padding-top: 15px" class="col-md-4"></div>
        <div class="col-md-4">
            <input *ngIf="!kiemTraPhongStore()"  type="submit" value="Thanh Toán" data-toggle="modal" (click)="thongBao()" class=" btn btn-lg btn-primary">
            <input *ngIf="!kiemTraKhachhang()&&kiemTraPhongStore()"  type="submit" value="Thanh Toán" data-toggle="modal" data-target="#taotaikhoan" class="btn btn-lg btn-primary">
            <input *ngIf="kiemTraKhachhang()&&kiemTraPhongStore()" routerLink="/payment" type="submit" value="Thanh Toán" class="btn btn-lg btn-primary">
        </div>
      </div>
        <!-- Modal -->
        <div class="modal fade" id="taotaikhoan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
   
              <div class="modal-body">
                <div class="row">
                  <h4 class="text-left">LỢI ÍCH KHÁCH HÀNG THÀNH VIÊN:</h4>
                  <ul class="text-left">
                    <li class="animated slideInRight a">
                      TÍCH ĐIỂM ĐỔI THƯỞNG
                    </li >
                    <li class="animated slideInRight b">
                      NHẬN THÔNG TIN KHUYẾN MÃI THÔNG QUA EMAIL
                    </li>
                    <li class="animated slideInRight c">
                      THANH TOÁN ONLINE NHANH CHÓNG
                    </li>
               
                   
                  </ul>
                  
                 
                </div>
              </div>
              <div class="modal-footer">
                   ĐĂNG KÝ NGAY  ?
                <button onclick="window.location.assign('http://localhost:4200/payment')" type="button" class="btn btn-default" data-dismiss="modal">Không</button>
                <button onclick="window.location.assign('http://localhost:4200/payment')"  type="button" class="btn btn-primary">ĐĂNG KÝ</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>







</body>