<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <p style="font-size: 20px" class="text-center">
            ĐƠN HÀNG</p>
    </div>
    <!-- Table -->
    <div class="panel-body parent">
        <!-- <div *ngIf="open==0" class="alert alert-info lead text-center animated jello" role="alert">Chưa có hóa đơn nào!
    </div> -->
        <div class="child1">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="cols-sm-10">
                    </div>
                    <!-- Modal -->
                    <div class="modal fade roompicker-modal" id="phong" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                  </button>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group modal-title " id="myModalLabel">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <h4 class="text-center">Danh Sách Phòng</h4>
                                            <hr />
                                            <table class="table ">

                                                <thead>
                                                    <tr>
                                                        <th>Tên</th>
                                                        <th>Loại</th>
                                                        <th>Giá</th>
                                                        <th>Sức Chứa</th>
                                                        <th style="width: 150px;">Buổi đặt</th>
                                                        <th class="text-center">#</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr [ngClass]="{'animated ':phongChon==item}" *ngFor="let item of phong">
                                                        <td>{{item.ten}}</td>
                                                        <td>{{item.loai}}</td>
                                                        <td>{{item.gia}}</td>
                                                        <td>{{item.succhua}} Người</td>
                                                        <td>
                                                            <div [ngClass]="{'chuse':kiemtrabuoi(1,item._id)}" *ngIf="item.sang==='trong'" class="btn btn-success" (click)=chonBuoi(1,item._id)>
                                                                Sáng
                                                            </div>
                                                            <div *ngIf="item.sang==='dat'" class="btn btn-default">
                                                                Sáng
                                                            </div>
                                                            <div [ngClass]="{'chuse':kiemtrabuoi(2,item._id)}" *ngIf="item.chieu==='trong'" class="btn btn-success" (click)=chonBuoi(2,item._id)>
                                                                Chiều
                                                            </div>
                                                            <div *ngIf="item.chieu==='dat'" class="btn btn-default">
                                                                Chiều
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <input [ngClass]="{'display':kiemTra(item._id)}" id="checkbox" type="button" value="Chọn" class="btn btn-default" (click)="giatriphong(item)">
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                        <div class="col-md-5">
                                            <h4 class="text-center">Danh Sách Phòng Vừa Đặt</h4>
                                            <hr />
                                            <div style="margin-top: 100px" [ngClass]="{'display':tinhtrangphongstore===1}" class="animated jello alert alert-info" role="alert">Bạn chưa Chọn phòng</div>
                                            <table [ngClass]="{'display':tinhtrangphongstore===0}" class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Tên</th>
                                                        <th>Loại</th>
                                                        <th>Giá</th>
                                                        <th>Sức chứa</th>

                                                        <th>#</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of phongstore">
                                                        <td>{{item.item.ten}}</td>
                                                        <td>{{item.item.loai}}</td>
                                                        <td>{{item.item.gia}}</td>
                                                        <td>{{item.item.succhua}} Người</td>
                                                        <td>
                                                            <span (click)="xoaPhongStore(item.item)"><i class="fa fa-trash-o"
                                  aria-hidden="true"></i></span>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td>Tổng:{{tienphong}}</td>
                                                        <td></td>
                                                    </tr>
                                                </tfoot>

                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Xác Nhận</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Hinh Ảnh</td>
                        <td>Tên</td>
                        <td class="text-center">Số Lượng</td>
                        <td class="text-center">Tổng Tiền</td>
                        <td>#</td>
                    </tr>
                </thead>
                <tbody>
                    <tr id="thu" *ngFor="let item of cart">
                        <td>
                            <a style="margin-bottom: 0" class="dish-thumbnail">
                                <img src="assets/images/dish/dish.jpg" alt="...">
                            </a>
                        </td>
                        <td>
                            <span style="margin: auto">{{item.item.ten}}</span>
                        </td>
                        <td class="text-center">
                            <input oninput="validity.valid||(value='');" style="width: 60%;display: inline;" type="number" min="1" max="100" class="form-control" value="{{item.sl}}" (change)="thayDoiGiaTri($event.target.value,item)">
                        </td>
                        <td class="text-center">
                            {{item.item.gia*item.sl-(item.item.gia*item.sl*item.item.khuyenmai/100)|number}} VNĐ
                        </td>
                        <td>
                            <span id="icon" (click)="xoa(item.item._id)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </span>
                        </td>
                    </tr>
                    <tr id="thu" *ngFor="let item of cart1">
                        <td>

                            <span style="margin-bottom: 0" class="title-price text-center thumbnail">
                <small>THỰC ĐƠN</small>
              </span>
                        </td>
                        <td>
                            <span style="margin: auto">{{item.thucdon.ten}}</span>
                        </td>
                        <td class="text-center">
                            <input oninput="validity.valid||(value='');" style="width: 60%;display: inline;" type="number" min="1" max="100" class="form-control" value="{{item.sl}}" (change)="thayDoiGiaTriThucDon($event.target.value,item)">
                        </td>
                        <td class="text-center">
                            {{item.thucdon.gia*item.sl|number}} VNĐ
                        </td>
                        <td>
                            <span (click)="xoaThucDon(item.thucdon._id)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </span>
                        </td>
                    </tr>
                    <tr class="success">
                        <td class="text-left text-primary">
                            <div class="btn add-more" routerLink="/home/dish">
                                Chọn thêm món
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                        </td>
                        <td class="text-right success">
                            <strong>Tổng tiền món ăn: {{tongTien|number}} VNĐ</strong>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <div class="wrap" style="display:flex;align-items: center">
                                Ngày đến:
                                <div class='input-group date'>
                                    <input id="thoidiemdat" type='date' class="form-control" [(ngModel)]="fromDate" name="fromDate" (change)="laythoigian($event)" />
                                    <img style="" *ngIf="doi==true" src="../../../assets/images/load.svg" alt="">
                                </div>
                                <div *ngIf="time" style="margin-left: 10px">
                                </div>
                            </div>
                            <span style="color:red" class="label" *ngIf="check===false">Đã qua ngày này!</span>
                        </th>

                        <th>

                        </th>
                        <th>

                        </th>
                        <th class="  text-right">
                        </th>
                    </tr>
                    <tr class="success" *ngIf="mochonphong==true">
                        <th>
                            <div id="nutPhong" class="form-control btn btn-success" data-toggle="modal" data-target="#phong">
                                Chọn phòng
                            </div>
                        </th>
                        <th>
                            <div *ngIf="room">
                                {{room[0].item.ten}} - {{room[0].item.loai}}
                            </div>
                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th class="  text-right">
                            <span [ngClass]="{'display':tinhtrangphongstore===0}">
                Tiền phòng:{{tienphong|number}} VNĐ
              </span>
                        </th>
                    </tr>
                    <tr class="success">
                        <th class="dropdown">
                            <div class="form-control text-center add-more dropdown-toggle" data-toggle="dropdown">
                                Chọn dịch vụ
                            </div>
                            <form style="left: inherit; border: none; padding: 0" class="form-control dropdown-menu dropdown-lr animated jello" role="menu">
                                <div *ngFor="let item of dichvus">
                                    <div class="input-group">
                                        <input (click)="chonDichVu(item)" type="button" class="form-control" value="{{item.ten}}-{{item.gia}}">
                                        <span class="input-group-addon">
                      <i style="width: 20px;" (click)="huyDichVu(item)"
                        [ngClass]="{'fa fa-check-square-o text-success':kiemTraDichVuCick(item)}"
                        aria-hidden="true"></i>
                      <i style="width: 20px;" (click)="chonDichVu(item)"
                        [ngClass]="{'fa fa-square-o':!kiemTraDichVuCick(item)}" aria-hidden="true"></i>
                    </span>
                                    </div>
                                </div>
                            </form>
                        </th>
                        <th>
                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                        <td style="width: 200px;" class="text-right success">
                            <span *ngIf="!kiemTraHienTienDichVu()">Tiền Dịch Vụ:{{tiendichvu|number}} VNĐ</span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
                <tfoot>
                    <tr class="danger">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="text-right">Thành Tiền :{{tiendichvu+tienphong+tongTien|number}} VNĐ</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div *ngIf="open==1" class="panel-footer text-right">
        <div class="row">
            <div class="col-md-4"></div>
            <div style="padding-top: 15px" class="col-md-4"></div>
            <div class="col-md-4">
                <input *ngIf="!kiemTraPhongStore()&&!Kiemtramonstrore()" type="submit" value="Thanh Toán" data-toggle="modal" (click)="thongBao()" class=" btn add-more">
                <input *ngIf="!kiemTraKhachhang()&&kiemTraPhongStore()&&Kiemtramonstrore()" type="submit" value="Thanh Toán" data-toggle="modal" data-target="#taotaikhoan" class="btn btn-sm btn-primary">
                <input *ngIf="kiemTraKhachhang()&&kiemTraPhongStore()&&Kiemtramonstrore()" routerLink="/payment" type="submit" value="Thanh Toán" class="btn add-more">
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="taotaikhoan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <h4 class="text-left">LỢI ÍCH KHÁCH HÀNG THÀNH VIÊN:</h4>
                            <ul class="text-left">
                                <li class="animated slideInRight a">
                                    <i class="fa fa-gift" aria-hidden="true"></i> TÍCH ĐIỂM ĐỔI THƯỞNG
                                </li>
                                <li class="animated slideInRight b">
                                    <i class="fa fa-bell-o" aria-hidden="true"></i> NHẬN THÔNG TIN KHUYẾN MÃI THÔNG QUA EMAIL
                                </li>
                                <li class="animated slideInRight c">
                                    <i class="fa fa-credit-card" aria-hidden="true"></i> THANH TOÁN ONLINE NHANH CHÓNG
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        ĐĂNG KÝ NGAY ?
                        <button routerLink="/payment" type="button" class="btn btn-default" data-dismiss="modal">Không</button>
                        <button routerLink="/register" type="button" class="btn btn-primary" data-dismiss="modal">ĐĂNG KÝ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>