<section id="banner">
    <div class="silder" style="position: relative;">
        <div class="container-fluid">
            <div class="row">
                <div style="position: unset;" id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="../../../assets/images/canhdep.png" alt="">
                            <div style="top: 65%;" class="slide-text animated left lead text-danger ">Đăng ký ngay để nhận những khuyến mãi tốt
                                <button routerLink="/register" class="btn-adtocart">Đăng ký</button>
                            </div>
                        </div>
                        <div class="item">
                            <img src="../../../assets/images/thoinoi.jpg" alt="">
                            <div style="left: 73%;" class="slide-text animated left lead text-danger ">
                                <button routerLink="/register" class="btn-adtocart">Đăng ký</button>
                            </div>
                        </div>

                        <div class="item">
                            <img src="../../../assets/images/thuvi.jpg" alt="">
                        </div>
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="carts">
        <div class="contact">
            <div class="contact-item">
                <div class="icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <div class="main">
                        000 (123) 456 7890
                    </div>
                    <!-- <div class="other">
                        A small river named Duden flows
                    </div> -->
                </div>
            </div>
            <div class="contact-item">
                <div class="icon">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <div class="main">
                        56/12 Linh Đông - P. Linh Đông - Q. Thủ Đức
                    </div>
                    <!-- <div class="other">
                        Suite 721 New York NY 10016
                    </div> -->
                </div>
            </div>
            <div class="contact-item">
                <div class="icon">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <div class="main">
                        Giờ mở cửa
                    </div>
                    <div class="other">
                        8:00am - 9:00pm
                    </div>
                </div>
            </div>
        </div>
        <div class="socials">
            <a href="#" target="_blank" class="social-item">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="#" target="_blank" class="social-item">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <a href="#" target="_blank" class="social-item">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div id="text-content" class="pdt-50">
        <div class="container">
            <div class="cover">
                Trung tâm Tiệc cưới – hội nghị ADTDecore toạ lạc tại địa chỉ 56/12 Linh Đông - P. Linh Đông - Q. Thủ Đức, Tp. HCM. Được xây dựng trên diện tích gần 4000m² với quy mô 3 tầng lầu, bao gồm 5 đại sảnh đãi tiệc hiện đại, không gian thoáng đãng và 1 tầng hầm
                giữ xe thông thoáng tuyệt đối an toàn, thuận tiện. Nhà hàng có tổng sức chứa lên đến 3500 khách là địa điểm hoàn hảo cho những buổi tiệc cưới trang trọng, hoành tráng, chuyên nghiệp cùng các sự kiện đáng nhớ. Với kiến trúc hài hoà, công
                trình mang dáng dấp của một cung điện sang trọng, rực rỡ và lịch lãm phù hợp cho những bữa tiệc mang phong cách châu Âu hiện đại, chuẩn mực nhưng cũng không kém phần ấm áp, gần gũi. Bên cạnh đó, với đội ngũ quản lý chuyên nghiệp, đầu bếp
                có nhiều năm kinh nghiệm trong nhà hàng và khách sạn 5 sao, tạo ra những thực đơn có phong cách riêng và ấn tượng. Các sự kiện của bạn sẽ thành công một cách hoàn hảo nhất tại Diamond Place II.
            </div>
        </div>
    </div>
    <div id="faction">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="cover">
                        <a href="">
                            <div class="effect">
                                <img src="../../../assets/images/tiecucoi2.png" alt="">
                                <div class="effected">
                                    <h2 class="text">
                                        TIỆC CƯỚI
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cover">
                        <a href="">
                            <div class="effect">
                                <img src="../../../assets/images/doi-tac.jpg" alt="">
                                <div class="effected">
                                    <h2 class="text">
                                        HỘI NGHỊ
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cover">
                        <a href="">
                            <div class="effect">
                                <img src="../../../assets/images/gift.jpg" alt="">
                                <div class="effected">
                                    <h2 class="text">
                                        ĐỐI TÁC
                                    </h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>