ul {
    list-style: none;
}

strong {
    font-weight: 900;
    font-size: 30px;
}

.all-price {
    padding: 10px 0;
    color: #f28b1c;
    font-size: 17px;
}

.panel-footer {
    background: none;
}

.panel-default {
    position: relative;
}

.km {
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #e4d6d6;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    overflow: hidden;
    color: red;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 0 rgba(0, 0, 0, 0.19);
}

.mgbt-40 {
    margin-bottom: 40px;
}

.panel-body {
    height: 250px;
    overflow-x: hidden;
    padding: 15px 20px;
    border: none;
    .md-name {
        display: flex;
        color: #2d2d2d;
        padding: 7px 0;
        .name {
            width: 80%;
            .big {
                font-size: 17px;
            }
        }
        .money {
            width: auto;
            color: #f28b1c;
            font-size: 17px;
            display: flex;
            align-items: center;
        }
    }
}

.panel-heading {
    background: white;
    position: relative;
    border: none;
    text-align: center;
    &::before {
        position: absolute;
        content: '';
        width: 10%;
        height: 2px;
        background: #aea512;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    p {
        color: #aea512;
        font-size: 20px;
    }
}

.panel {
    border: none;
}