<div class="animated slideInRight">
  <div class="col-xs-12 col-md-4 ">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <p>{{thucdon.ten | uppercase}}</p>
        </h3>
      </div>
      <div class="panel-body">
        <span *ngFor="let mon of thucdon.danhsachtenmonan">
          <span class="md-name">
              <div class="name">
                <div class="big">
                    {{mon}}
                </div>
                <div class="small">
                    chilli spice, oregano beef
                </div>
              </div>
              <div class="money">
                  14,95$
              </div>
          </span>
        </span>
      </div>
      <div class="panel-footer t-center">
        <div class="row">
          <div class="col-md-12 all-price">
            {{thucdon.gia}} VNĐ
          </div>
          <div class="col-md-12">
            <a (click)="addToCart(thucdon)" class="btn-adtocart" role="button">
                Thêm vào giỏ hàng <i class="fa fa-cart-plus" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>