<div class="main-header">
    <div class="top-header">
        <div class="logo-content">
            <img src="../../../../../assets/images/logo/logo1.png" alt="">
        </div>
    </div>
    <ul class="nav flex-column main-nav">
        <li class="nav-item" routerLink="/admin/dashboard/customer" routerLinkActive="active" (click)="activeRouter('Quản Lý Khách Hàng')">
            <a class="nav-link">
                <span>Khách hàng</span>
            </a>
        </li>
        <li class="nav-item" routerLink="/admin/dashboard/dish" routerLinkActive="active" (click)="activeRouter1('Quản Lý Món Ăn')">
            <a class="nav-link">
                <span>Món ăn</span>
            </a>
        </li>
        <li class="nav-item" (click)="activeRouter('Quản Lý Loại Món Ăn')" [ngStyle]="{'display': styleExp}">
            <a class="nav-link loai" routerLink="/admin/dashboard/dishtype" routerLinkActive="active">
                <span>Loại Món ăn</span>
            </a>
        </li>
        <li class="nav-item" routerLink="/admin/dashboard/room" routerLinkActive="active" (click)="activeRouter2('Phòng Ăn')">
            <a class="nav-link">
                <span>Phòng Ăn</span>
            </a>
        </li>
        <li class="nav-item" (click)="activeRouter('Quản Lý Loại Món Ăn')" [ngStyle]="{'display': styleExp2}">
            <a class="nav-link loai" routerLink="/admin/dashboard/roomtype" routerLinkActive="active">
                <span>Loại Phòng Ăn</span>
            </a>
        </li>
        <li class="nav-item" routerLink="/admin/dashboard/menu" routerLinkActive="active" (click)="activeRouter('Quản Lý Menu')">
            <a class="nav-link">
                <span>Thực Đơn</span>
            </a>
        </li>
        <li class="nav-item" routerLink="/admin/dashboard/bills" routerLinkActive="active" (click)="activeRouter('Hóa Đơn')">
            <a class="nav-link">
                <span>Hóa Đơn</span>
                <span class="demhd">2</span>
            </a>
        </li>
        <li class="nav-item" routerLink="/admin/dashboard/services" routerLinkActive="active" (click)="activeRouter('Dịch Vụ')">
            <a class="nav-link">
                <span>Dịch Vụ</span>
            </a>
        </li>
        <li class="nav-item" routerLink="/admin/dashboard/staff" routerLinkActive="active" (click)="activeRouter('Nhân Viên')">
            <a class="nav-link">
                <span>Nhân viên</span>
            </a>
        </li>
    </ul>
  </div>