<div class="main-header">
    <div class="top-header">
        <div class="logo-content">
            <img src="../../../../../assets/images/logo/logo1.png" alt="">
        </div>
    </div>
    <ul class="nav flex-column main-nav">
        <li *ngIf="current_role == '5d43c5cb0a62a138b8c697cb' || current_role == '5eda68116de5b602fc3a254c'" class="nav-item" routerLink="/admin/dashboard/customer" routerLinkActive="active" (click)="activeRouter('Quản Lý Khách Hàng')">
            <a class="nav-link">
                <i class="fa fa-user" aria-hidden="true"></i> <span>Khách hàng</span>
            </a>
        </li>
        <li *ngIf="current_role == '5d43c5cb0a62a138b8c697cb' || current_role == '5f048deb680ac73ca811c667' " class="nav-item" routerLink="/admin/dashboard/dish" routerLinkActive="active" (click)="activeRouter1('Quản Lý Món Ăn')">
            <a class="nav-link">
                <i class="fa fa-coffee" aria-hidden="true"></i><span>Món ăn</span>
            </a>
        </li>

        <li *ngIf="current_role == '5d43c5cb0a62a138b8c697cb' " class="nav-item" (click)="activeRouter('Loại Món Ăn')" [ngStyle]="{'display': styleExp}">
            <a class="nav-link loai" routerLink="/admin/dashboard/dishtype" routerLinkActive="active">
                <span>Loại Món</span>
            </a>
        </li>
        <li *ngIf="current_role == '5d43c5cb0a62a138b8c697cb' " class="nav-item" routerLink="/admin/dashboard/room" routerLinkActive="active" (click)="activeRouter2('Phòng Ăn')">
            <a class="nav-link">
                <i class="fa fa-university" aria-hidden="true"></i> <span>Phòng Ăn</span>
            </a>
        </li>
        <li *ngIf="current_role == '5d43c5cb0a62a138b8c697cb' " class="nav-item" (click)="activeRouter('Quản Lý Loại Món Ăn')" [ngStyle]="{'display': styleExp2}">
            <a class="nav-link loai" routerLink="/admin/dashboard/roomtype" routerLinkActive="active">
                <span>Loại Phòng Ăn</span>
            </a>
        </li>
        <li *ngIf="current_role == '5d43c5cb0a62a138b8c697cb' || current_role == '5f048deb680ac73ca811c667' " class="nav-item" routerLink="/admin/dashboard/menu" routerLinkActive="active" (click)="activeRouter('Quản Lý Menu')">
            <a class="nav-link">
                <i class="fa fa-sitemap" aria-hidden="true"></i> <span>Thực Đơn</span>
            </a>
        </li>
        <li *ngIf="current_role == '5d43c5cb0a62a138b8c697cb' || current_role == '5eda67ff6de5b602fc3a254b' || current_role == '5f048deb680ac73ca811c667'" class="nav-item" routerLink="/admin/dashboard/bills" routerLinkActive="active" (click)="activeRouter('Hóa Đơn')">
            <a class="nav-link">
                <i class="fa fa-indent" aria-hidden="true"></i> <span>Hóa Đơn</span>
                <span class="demhd">2</span>
            </a>
        </li>
        <li *ngIf="current_role == '5d43c5cb0a62a138b8c697cb' " class="nav-item" routerLink="/admin/dashboard/services" routerLinkActive="active" (click)="activeRouter('Dịch Vụ')">
            <a class="nav-link">
                <i class="fa fa-puzzle-piece" aria-hidden="true"></i> <span>Dịch Vụ</span>
            </a>
        </li>
        <li *ngIf="current_role == '5d43c5cb0a62a138b8c697cb' || current_role == '5eda67df6de5b602fc3a2549'" class="nav-item" routerLink="/admin/dashboard/staff" routerLinkActive="active" (click)="activeRouter('Nhân Viên')">
            <a class="nav-link">
                <i class="fa fa-users" aria-hidden="true"></i> <span>Nhân viên</span>
            </a>
        </li>
        <li *ngIf="current_role == '5d43c5cb0a62a138b8c697cb' || current_role == '5eda67df6de5b602fc3a2549'" class="nav-item" routerLink="/admin/dashboard/rank" routerLinkActive="active" (click)="activeRouter('Chức Vụ')">
            <a class="nav-link">
                <i class="fa fa-diamond" aria-hidden="true"></i> <span>Chức vụ</span>
            </a>
        </li>
        <li *ngIf="current_role == '5d43c5cb0a62a138b8c697cb' || current_role == '5eda67df6de5b602fc3a2549' || current_role == '5eda67ff6de5b602fc3a254b'" class="nav-item" routerLink="/admin/dashboard/salary" routerLinkActive="active" (click)="activeRouter('Tính Lương')">
            <a class="nav-link">
                <i class="fa fa-money" aria-hidden="true"></i> <span>Tính lương</span>
            </a>
        </li>
        <li *ngIf="current_role == '5d43c5cb0a62a138b8c697cb' || current_role == '5eda67df6de5b602fc3a2549' || current_role == '5eda67ff6de5b602fc3a254b'" class="nav-item" routerLink="/admin/dashboard/statistical" routerLinkActive="active" (click)="activeRouter('Thống Kê')">
            <a class="nav-link">
                <i class="fa fa-area-chart" aria-hidden="true"></i> <span>Thống Kê</span>
            </a>
        </li>
        <li *ngIf="current_role == '5d43c5cb0a62a138b8c697cb' || current_role == '5eda67df6de5b602fc3a2549' || current_role == '5eda67ff6de5b602fc3a254b'" class="nav-item" routerLink="/admin/dashboard/schedule" routerLinkActive="active" (click)="activeRouter('Lịch làm')">
            <a class="nav-link">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i> <span>Phân công lịch</span>
            </a>
        </li>
        <li *ngIf="current_role == '5d43c5cb0a62a138b8c697cb' || current_role == '5eda68116de5b602fc3a254c' || current_role == '5eda67ff6de5b602fc3a254b'" class="nav-item" routerLink="/admin/dashboard/posts" routerLinkActive="active" (click)="activeRouter('Quản lý bài viết')">
            <a class="nav-link">
                <i class="fa fa-puzzle-piece" aria-hidden="true"></i> <span>Bài viết</span>
            </a>
        </li>
        <li class="nav-item" routerLinkActive="active" (click)="getReport()">
            <a class="nav-link">
                <i class="fa fa-puzzle-piece" aria-hidden="true"></i> <span>Góp ý khách hàng</span>
            </a>
        </li>
    </ul>
</div>
<div class="modal fade" id="report-modal-show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="exampleModalLabel">Góp ý của khách hàng</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tên khách hàng</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Nội dung</th>
                            <th scope="col">TG tạo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of report ">
                            <td>{{item.name}}</td>
                            <td>{{item.phone}}</td>
                            <td>{{item.content}}</td>
                            <td>{{item.created}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>