<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <p class="text-danger text-center" style="font-size: 3vw">HƯỚNG DẪN THANH TOÁN</p>
          <p class="text-center"><img src="./assets/images/logo/br-line.svg" alt=""></p>
      </div>
    </div>
    <div id="slider3" class="owl-carousel owl-theme">
      <div class="item">
        <div class="row">
          <div class="col-md-6">
                   <img src="./assets/images/dish/dish.jpg" alt="">
          </div>
          <div class="col-md-6">
                    

          </div>
        </div>
      </div>
    </div>
  </div>
</section>