.d-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-side .post-item {
    width: 48%;
}

.left-side .post-item>a {
    width: 100%;
}

.left-side .post-item>a .post-thumb {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.left-side .post-item .post-text {
    margin-top: 20px;
}

.left-side .post-item .post-text .top .date-time {
    color: #C1C1C1;
    font-size: 13px;
}

.left-side .post-item .post-text .top a.cat {
    font-size: 13px;
    color: #4DC3F8;
}

.left-side .post-item .post-text .quick_des {
    padding-top: 10px;
    font-size: 15px;
    color: #666666;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.right-side .post-item {
    width: 100%;
    margin-bottom: 20px;
    .post-text {
        width: 65%;
        .date-time {
            color: #C1C1C1;
            font-size: 13px;
        }
    }
}

img.img-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-side .post-item>a {
    width: 32%;
    .post-thumb {
        width: 100%;
        height: 85px;
    }
}

.left-side .post-item .post-text .post-title {
    font-size: 16.5px;
    line-height: 27px;
    color: #39110A;
}