<div class="content-box">
    <div class="row pdt-100"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="left-side d-flex">
                    <div class="post-item" *ngFor="let item of post_list" (click)="denTrangChiTiet(item._id)">
                        <a (click)="denTrangChiTiet(item._id)">
                            <div class="post-thumb">
                                <img src="{{item.thumbnail_url}}" alt="" class="img-thumb">
                            </div>
                        </a>
                        <div class="post-text">
                            <div class="top d-flex">
                                <div class="date-time">
                                    <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> 22 Tháng Tám, 2019 </div>
                                <a class="cat" href="#">
                                    <i class="fa fa-bars" aria-hidden="true"></i> Tin Tức </a>
                            </div>
                            <a (click)="denTrangChiTiet(item._id)">
                                <div class="post-title">
                                    {{item.title}} </div>
                            </a>
                            <!-- <span class="quick_des" [innerHtml]="item.content"></span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>