.container{
    min-height: 500px;
    input.tongtien{
        color: red;
        font-weight: bold;
    }
}
.wrong{
    span.label{
        position: absolute;
        bottom: -10px;
        left: 15px;
    }
}
.hid{
    display: none;
}
.active{
   display: none !important;
}
.unactive{
    display:  block !important;
}
.clicked{
    background: greenyellow !important;
}
.inform{
    span{
        position: relative;
        margin-right: 50px;
        &:nth-child(1):before
        {
            background: #d9534f;
        }
        &:nth-child(2):before
        {
           
            background: #428bca;
        }
    }
    span:before{
        content: "";
    position: absolute;
    top: -5px;
    left: 57px;
    
      border-radius: 50%;
      width: 30px;
      height: 30px;  
    }

}
.bill-temp input{
    height: 21px;
}