.container {
    min-height: 500px;
    input.tongtien {
        color: red;
        font-weight: bold;
    }
}

.wrong {
    span.label {
        position: absolute;
        bottom: -10px;
        left: 15px;
    }
}

.hid {
    display: none;
}

.close-md {
    font-size: 20px;
    padding: 20px 15px;
    text-align: center;
}

.active {
    display: none !important;
}

.unactive {
    display: block !important;
}

.clicked {
    background: greenyellow !important;
}

.inform {
    span {
        position: relative;
        margin-right: 50px;
        &:nth-child(1):before {
            background: #d9534f;
        }
        &:nth-child(2):before {
            background: #428bca;
        }
    }
    span:before {
        content: "";
        position: absolute;
        top: -5px;
        left: 57px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
}

.bill-temp input {
    height: 21px;
}

table.temp_bill {
    width: 100%;
    tr {
        width: 100%;
    }
    td {
        padding: 5px;
        border: 1px solid rgba(167, 165, 165, 0.445);
        &.name {
            width: 30%;
            font-family: dark-b;
            color: green;
        }
    }
}

h4#myModalLabel {
    font-family: dark-b;
    font-size: 20px;
    text-transform: uppercase;
    color: green;
}