.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.header-part {
    float: left;
    height: 100%;
    padding-right: 0;
    width: 15% !important;
}

.content-part {
    float: left;
    width: 85% !important;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    background: #F4F3EF;
    // &:before{
    //    content: '';
    //    position: absolute;
    //    top: 0;
    //    bottom: 0;
    //    left: 0;
    //    right: 0;
    //    background: #F4F3EF;
    // }
}

.content-head {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(175, 175, 175);
    background: #F4F3EF;
}

.down-menu {
    top: 25%;
}

button.gr-down {
    color: gray;
    border: none;
    background: none;
    font-size: 20px;
    border-radius: 50%;
}

.noti-down {
    width: 800%;
    margin-top: 25%;
    left: -350%;
    top: 100%;
    padding-top: 0;
    padding-bottom: 0;
    li {
        width: 100%;
        height: auto;
        cursor: pointer;
        overflow: hidden;
    }
    li.ctent {
        min-height: 70px;
        margin-top: 10px;
        width: 100%;
        height: auto;
        .mini-avatar {
            width: 60px;
            height: 60px;
            margin-top: 5px;
            border: 1px solid #F4F3EF;
            border-radius: 50%;
            overflow: hidden;
            object-fit: cover;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .noti-content {
            width: 100%;
            height: 100%;
            p {
                word-wrap: break-word;
            }
        }
        &:hover {
            background: rgb(224, 224, 223);
        }
    }
    li.tieude {
        background: #F7F7F9;
        text-align: center;
        font-weight: 600 !important;
        line-height: 20px;
    }
    li.end {
        background: #F7F7F9;
        text-align: center;
        font-weight: 700;
        text-decoration: underline;
        color: rgb(95, 95, 252);
    }
}

.navbar-brand p {
    font-weight: 600;
    margin: 5px 0px;
    font-size: 20px;
    color: gray;
}

.navbar-brand:hover {
    color: ghostwhite;
}

.nav-item {
    position: relative;
    color: gray;
}

.nav-item img {
    width: 40px;
    height: 40px;
    border: 1px solid rebeccapurple;
    border-radius: 50%;
    float: left;
    position: absolute;
    z-index: 1;
    top: 0;
    margin-left: -32px;
}


/* Medium devices (desktops, 992px and up) */

@media (max-width: 768px) {
    .header-part {
        display: none
    }
    .content-part {
        float: left;
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
        border: none !important;
    }
}

@media (min-width: 750px) and (max-width: 970px) {
    .header-part {
        display: none;
    }
    .nav-item img {
        display: none;
    }
    .content-part {
        float: left;
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;
        border: none !important;
    }
}

@media (min-width: 970px) and (max-width: 1170px) {}

@media (min-width: 1170px) {
    .login-content {
        .header-part {
            display: block;
        }
    }
}