<div class="container-fluid">
    <div class="h-100">
        <div class="header-part">
            <app-adheader></app-adheader>
        </div>
        <div class="col-xs-12 col-sm-12 content-part">
            <div class="content-head">

                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                    <nav class="navbar">
                        <a class="navbar-brand">
                            <p style="text-transform: capitalize">{{headtittle}}</p>
                        </a>
                    </nav>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 down-menu">

                    <div class="col-xs-3 col-sm-4 col-md-5 col-lg-5">

                    </div>

                    <div class="col-xs-9 col-sm-8 col-md-5 col-lg-5">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default gr-down" routerLink="/staff/dashboard/order" data-toggle="dropdown">
                                <i class="fa fa-user" aria-hidden="true"></i>
                          </button>

                        </div>
                    </div>

                </div>
            </div>

            <div class="content-main">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>