.container-fluid{
    .jumbotron{
        background:url('/assets/images/backgroud/dish.jpg') center no-repeat;
        background-size: cover;
        padding: 183px 0 183px 0;
        margin-bottom: 0;
    }
}
.menu-area {
  background: #e6e6e6;
  padding: 50px 0;
}
.slider{
  
  margin-bottom: 15px;
}
body{
    position: relative;
    
    .loader {
        position: absolute;
        top: 50%;
        left:  50%;
        transform: translate(-50%,-50%);
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 0.5s linear infinite;
        margin:100px auto;
    }
}
.start-dish {
  background: white;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes down {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes down {
    from {
      -webkit-transform: translate3d(0, -400%, 0);
      transform: translate3d(0, -400%, 0);
      opacity: 0;
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .down {
    -webkit-animation-name: down;
    animation-name: down;
  }
  @-webkit-keyframes left {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes left {
    from {
      -webkit-transform: translate3d(-400%, 0, 0);
      transform: translate3d(-400%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .left {
    -webkit-animation-name: left;
    animation-name: left;
  }
  .carousel {
    background: #EEE;
    box-sizing: border-box;
    
      // -webkit-animation: glowing 1500ms infinite;
      // -moz-animation: glowing 1500ms infinite;
      // -o-animation: glowing 1500ms infinite;
      // animation: glowing 1500ms infinite;
    
    img {
      display: block;
      height: 200px;
      opacity: 0.7;
  //    transition:height 1s;
      margin-right: 15px;
      // float: left;
    //  position: relative;

    }
   
    img:hover{
      opacity: 1;
      height: 210px;
    }
  }
  @keyframes glowing {
    0% { color: #004A7F; text-shadow: 0 0 3px #004A7F; }
    50% { color: #0094FF; text-shadow: 0 0 10px #0094FF; }
    100% { color: #004A7F; text-shadow: 0 0 3px #004A7F; }
  }
   

  #banner {
    background: url('../../../assets/images/banner-dep.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
  }