<div style="position: relative;" class="body">
  <div style=" position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    " class="loader1">
    <img src="assets/images/backgroud/loader.gif" alt="">
  </div>
  <div class="conten">
    <div id="banner">
      <div>
        <app-billed></app-billed>
      </div>
      <div class="start-dish">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center" style="padding-top: 30px;padding-bottom: 20px">
              <p class="text-danger" style="font-size: 3vw">MÓN ĂN THAM KHẢO</p>
              <p style="font-size: 1.5vw">Đăng ký ngay để nhận được các cập nhật món ăn mới</p>
              <span style="font-size: 1.5vw">Với hơn 150 món Á-ÂU và nhiều ưu đãi khác </span>
            </div>

            <div style="margin: 15px 0" class="col-md-12">
              <app-dish-example>

              </app-dish-example>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center"  style="padding-bottom: 20px">
                  <p class="text-danger" style="font-size: 3vw">THỰC ĐƠN THAM KHẢO</p>
                  <p style="font-size: 1.5vw">Đăng ký ngay và nhận hướng dẫn cho những thực đơn thích hợp</p>
                  <span style="font-size: 1.5vw">Với hơn 150 món Á-ÂU và nhiều ưu đãi khác </span>
                </div>
        
                <div class="col-md-12" style="margin: 15px 0">
                  <app-thucdon-example></app-thucdon-example>
                </div>
              </div>
        </div>
    </div>
    <div class="container-fluid">
      <div>
        <app-payment-tu></app-payment-tu>
      </div>
    </div>
    <div class="container-fluid" >
      <div class="row" style="background: white">
          <div class="container">
              <div class="row">
                <div class="col-md-12">
                    <p class="text-danger text-center" style="font-size: 3vw">VÌ SAO NÊN CHỌN CHÚNG TÔI</p>
                    <p class="text-center"><img src="./assets/images/logo/br-line.svg" alt=""></p>
                </div>
              </div>
          </div>
        <div class="container">
          <div style="margin: 15px 0;" class="row text-center">
            <div class="col-md-8">
              <h3 class="text-center text-danger" style="font-size: 3vw">Đội ngũ đầu bếp kinh nghiệm</h3>
              <p style="text-align: justify">Tổ bếp của Chen quy tụ những đầu bếp kỳ cựu với hàng chục năm kinh nghiệm, từng đứng bếp chính trong nhiều nhà hàng, khách sạn cao cấp. Từ bề dày kinh nghiệm và sự nhạy cảm trong nghề, các đầu bếp tài ba của Chen đã thổi hồn vào từng món ăn, cuốn hút và quyến rũ khách hàng bằng hình thức mỹ miều và hương vị khó cưỡng nhất.
                  Không chỉ đạt đến sự ổn định tuyệt vời trong cách chế biến, các đầu bếp của Chen còn sở hữu đôi tay khéo léo và những tuyệt kỹ biểu diễn bên bàn nướng Tepanyaki vô cùng đẹp mắt. Các món ăn mới do đầu bếp Chen sáng tạo cũng nhận được những phản hồi tích cực, đem lại cảm giác tươi mới cho menu và kích thích sự tò mò, muốn khám phá ẩm thực của mọi khách hàng.
                  Dù bạn có khó tính tới đâu, các đầu bếp của Chen cũng sẽ chinh phục bạn bằng thứ ẩm thực tinh tế và đặc sắc nhất.</p>
            </div>
            <div class="col-md-4">
              <a class="thumbnail">
                <img src="./assets/images/chef.jpg" class="img-responsive" alt="">
              </a>

            </div>
          </div>
          <div style="margin: 15px 0;" class="row text-center">
            <div class="col-md-8 pull-right">
              <h3 class="text-center text-danger" style="font-size: 3vw">Không gian tráng lệ</h3>
              <p style="text-align: justify;">Đến nhà hàng Hải Yến vào buổi trưa hoặc tối, bạn có thể thấy lượng khách ra vào luôn luôn tấp nập. Tuy nhiên bạn vẫn có được một chỗ ngồi ưng ý bởi ở bất cứ góc nào cũng có thể chiêm ngưỡng được không gian đẹp của nhà hàng với sức chứa lớn lên tới 600 chỗ ngồi. Nhà hàng Hải Yến là điểm đến lý tưởng cho không gian gia đình ấm cúng, không gian lứa đôi hạnh phúc hoặc không gian thân mật của tình bằng hữu, tổ chức lễ cưới cho các đôi uyên ương, tổ chức hội nghị, hội thảo.</p>
            </div>
            <div class="col-md-4 pull-left">
              <a class="thumbnail">
                <img src="./assets/images/home-2.png" class="img-responsive" alt="">
              </a>

            </div>
          </div>
          <div style="margin: 15px 0;" class="row text-center">
            <div class="col-md-8 ">
              <h3 class="text-center text-danger" style="font-size: 3vw">Thực phẩm sạch, đạt chuẩn an toàn vệ sinh</h3>
              <p style="text-align: justify;">– Diện tích phải đủ rộng để bày trí các khu vực cần thiết như: Khu bày bán thực phẩm, khu chế biến, khu chứa đựng, khu bảo quản, và phải thuận tiện để vận chuyển nguyên vật liệu, thực phẩm. <br>
              - Đạt chuẩn an toàn vệ sinh thực phẩm, được ban quản lý thành phố cấp giấy chứng nhận!
              
              </p>
            </div>
            <div class="col-md-4 ">
              <a class="thumbnail">
                <img src="./assets/images/timthumb.jpg" class="img-responsive" alt="">
              </a>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>