<div style="position: relative;" class="body">
  <div style=" position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    " class="loader1">
    <img src="assets/images/backgroud/loader.gif" alt="">
  </div>
  <div class="conten">
    <div id="banner">
      <div>
        <app-billed></app-billed>
      </div>
      <div class="start-dish">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center" style="padding-top: 30px;padding-bottom: 20px">
              <p class="text-danger" style="font-size: 3vw">MÓN ĂN THAM KHẢO</p>
              <p style="font-size: 1.5vw">Đăng ký ngay để nhận được các cập nhật món ăn mới</p>
              <span style="font-size: 1.5vw">Với hơn 150 món Á-ÂU và nhiều ưu đãi khác </span>
            </div>

            <div style="margin: 15px 0" class="col-md-12">
              <app-dish-example>

              </app-dish-example>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center"  style="padding-bottom: 20px">
                  <p class="text-danger" style="font-size: 3vw">THỰC ĐƠN THAM KHẢO</p>
                  <p style="font-size: 1.5vw">Đăng ký ngay và nhận hướng dẫn cho những thực đơn thích hợp</p>
                  <span style="font-size: 1.5vw">Với hơn 150 món Á-ÂU và nhiều ưu đãi khác </span>
                </div>
        
                <div class="col-md-12" style="margin: 15px 0">
                  <app-thucdon-example></app-thucdon-example>
                </div>
              </div>
        </div>
    </div>
    <div class="container-fluid">
      <div>
        <app-payment-tu></app-payment-tu>
      </div>
    </div>
    <div class="container-fluid" >
      <div class="row" style="background: white">
          <div class="container">
              <div class="row">
                <div class="col-md-12">
                    <p class="text-danger text-center" style="font-size: 3vw">VÌ SAO NÊN CHỌN CHÚNG TÔI</p>
                    <p class="text-center"><img src="./assets/images/logo/br-line.svg" alt=""></p>
                </div>
              </div>
          </div>
        <div class="container">
          <div style="margin: 15px 0;" class="row text-center">
            <div class="col-md-8">
              <h3 class="text-center text-danger" style="font-size: 3vw">Gia tiền hợp lý</h3>
              <p>Thức ăn tại nhà hàng được bán với mức giá hợp lý, thường xuyên có các mặt hàng ưu đãi giảm giá</p>
            </div>
            <div class="col-md-4">
              <a class="thumbnail">
                <img src="./assets/images/logo/money.jpeg" class="img-responsive" alt="">
              </a>

            </div>
          </div>
          <div style="margin: 15px 0;" class="row text-center">
            <div class="col-md-8 pull-right">
              <h3 class="text-center text-danger" style="font-size: 3vw">Phục vụ chuyên nghiệp</h3>
              <p>Thức ăn tại nhà hàng được bán với mức giá hợp lý, thường xuyên có các mặt hàng ưu đãi giảm giá</p>
            </div>
            <div class="col-md-4 pull-left">
              <a class="thumbnail">
                <img src="./assets/images/logo/service.jpeg" class="img-responsive" alt="">
              </a>

            </div>
          </div>
          <div style="margin: 15px 0;" class="row text-center">
            <div class="col-md-8 ">
              <h3 class="text-center text-danger" style="font-size: 3vw">Thực phẩm sạch</h3>
              <p>Thức ăn tại nhà hàng được bán với mức giá hợp lý, thường xuyên có các mặt hàng ưu đãi giảm giá</p>
            </div>
            <div class="col-md-4 ">
              <a class="thumbnail">
                <img src="./assets/images/logo/food.jpeg" class="img-responsive" alt="">
              </a>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>