<div class="content-box">
    <div class="row pdt-100"></div>
    <div class="container">
        <div class="thumbnail">
            <a href="#">
                <img style="height: 300px;width:100%; object-fit: cover;" src="{{post.thumbnail_url}}" alt="Lights">
            </a>
        </div>
        <div class="title">{{post.title}}</div>
        <div class="content" [innerHtml]="post.content">

        </div>
    </div>
</div>