<body >


  
  <nav  id="head1" style="    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-bottom: none;min-height: auto" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div  class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div style="height: 53px;" class="navbar-header ">
 <ul style="font-size: 11px; padding: 0; margin: 0" class="nav navbar-toggle" data-toggle="collapse" >
   
    <li>
        <a style="height: 53px;padding-top: 0;padding-bottom: 0" class="btn">
          <span  class="glyphicon glyphicon-phone-alt text-primary"> Hotline:01663341099</span>
        </a>

      </li>
      <!-- <li class="label label-info" style="padding: 0">
          <a>
            <span class="glyphicon glyphicon-calendar"></span> Đặt Ngay</a>
       </li> -->

  </ul>

        <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <img style="width: 100px; height: 50px;" src="./assets/images/logo/logo1.png" alt="">
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a>
              <span style="font-size: 15px" class="glyphicon glyphicon-phone-alt text-primary"> Hotline:01663341099</span>
            </a>

          </li>
          <li routerLink="/register" class="label label-info" style="font-size: 15px;padding: 0">
            <a>
              <span  class="glyphicon glyphicon-calendar"></span> Đăng Ký Ngay</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
    <nav id="head2" style="margin-bottom: 0;min-height: 30px" class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse">
        </div>
        <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li  class="item" id="menu-item-1209" routerLink="/home/section" routerLinkActive="active">
              <div class="action"></div>
              <a style="padding-top: 5px;padding-bottom: 5px">Trang Chủ</a>
            </li>
            <li class="item" routerLink="/home/dish" routerLinkActive="active">
              <div class="action"></div>
              <a style="padding-top: 5px;padding-bottom: 5px">Món Ăn</a>
            </li>
            <li class="item" (click)="chon(3)" routerLink="/home/room-introduce" routerLinkActive="active" [ngClass]="{'active':luaChon===3}">
                <div class="action"></div>
              <a style="padding-top: 5px;padding-bottom: 5px">Phòng-Dịch vụ</a>
            
            </li>
            <li class="item" routerLink="/home/uudai" routerLinkActive="active">
              <div class="action"></div>
              <a style="padding-top: 5px;padding-bottom: 5px">Ưu Đãi</a>
        
            </li>
            <li class="item" (click)="chon(5)" routerLink="/home/about" routerLinkActive="active" [ngClass]="{'active':luaChon===5}">
                <div class="action"></div>
              <a style="padding-top: 5px;padding-bottom: 5px">Về Chúng Tôi</a>
    
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <li *ngIf="khachhang" class="dropdown">
              <a style="cursor: pointer;padding-top: 5px;padding-bottom: 5px" class="dropdown-toggle" data-toggle="dropdown">
                <i style="font-size: 20px" class="fa fa-user-circle" aria-hidden="true">
                  <span class="caret"></span>
                </i>
              </a>
              <ul style="min-width: 190px;" class="dropdown-menu dropdown-lr animated flipInX" role="menu">

                <ul class="nav nav-pills nav-stacked">
                  <li routerLink="/home/user-profile" >
                    <a>Thông Tin Người Dùng</a>
                  </li>
                  <li>
                    <a>Thông Tin Hóa Đơn</a>
                  </li>
                  <li (click)="dangXuat()">
                    <a>Đăng Xuất</a>
                  </li>
                </ul>

              </ul>
            </li>

            <li *ngIf="!khachhang" class="dropdown">
              <a style="cursor: pointer;padding-top: 5px;padding-bottom: 5px" class="dropdown-toggle" data-toggle="dropdown">Đăng Nhập
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-lr animated slideInRight" role="menu">
                <div class="col-lg-12">

                  <form (ngSubmit)="dangNhap()" style="width: 300px;">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                        <input [formControl]="email" type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username"
                          value="">
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                        </span>

                        <input [formControl]="matkhau" type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                      </div>
                    </div>
                    <input type="submit" class="btn pull-right btn-success">
                  </form>
                </div>
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->


      </div>
      <!-- /.container-fluid -->
    </nav>
  </nav>

</body>